fieldset{
    position: relative;
    &:last-of-type{
        margin-bottom: rem-calc(25);
    }
    legend{
        font-size: rem-calc(14);
        line-height: 17px;
        padding-right: 6px;
        margin-left: -5px;
        cursor: pointer;
        i{
            margin-top: -1px;
            margin-right: 2px;
        }
    }
}

.umi-form-control-fieldset-toggle{
    margin: -3px -21px;
    position: absolute;
    display: block;
}