select{
    border-radius: $input-border-radius;
    box-sizing: border-box;
    font-size: rem-calc(13);
    &:focus{
        box-shadow: 0 0 5px #999999;
        outline: none;
    }
    option{
        line-height: normal;
    }
}