@charset "utf-8";
@import "_base.scss";
@import "_mixin.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,800italic,300,600,400,800&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic);
/* CSS Document */

/*
@include box-sizing;
@include border-radius(15px);
*/

body,html{
    font-family:$font-default;
    font-size:$font-default-size;
    background:#fff;
}

//header
header{
    background:#0f141e;
    padding-bottom:20px;
    position:absolute;
    width:100%;
    z-index:999;
    &.fixed{
        padding-bottom:10px;
        position:fixed;
        background:rgba(0,0,0,0.8);
        .langs{
            display: none;
        }
        .logo{
            margin-top:15px;
            display: inline-block;
            img{
                width:100px;
            }

        }

        .phone{
            display: none;
        }
        .menu{
            margin-top:0;
            margin-bottom:0;
        }

    }

    .langs{
        overflow: hidden;
        margin:30px 0;
        display:inline-block;
        li{
            float:left;
            margin-right:3px;
            @extend .extrabold;
            font-size:13px;
            color:#fff;
            text-transform:uppercase;
            a{
                color:#fff;
                text-decoration:none;
                margin-right:3px;
                &.active{
                    text-decoration:underline;
                }

            }

        }

    }
    .phone{
        display: inline-block;
        background: url(../images/h-phone.png) left center no-repeat;
        padding-left:20px;
        @extend .semibold;
        color:#fff;
        font-size:19px;
        margin-top:30px;
        line-height:120%;
    }
    .menu{
        display: inline-block;
        margin-top:5%;
        li{
            float:left;
            margin-left:30px;
            text-transform:uppercase;
            color:#fff;
            @extend .light;
            a{
                color:#fff;
            }
            .h-search-form{
                width:12px;
                margin-top:-2px;
                .input-group{
                    @include border-radius(15px);
                    .form-control{
                        background:transparent;
                        @include border-radius(15px);
                        border:none;
                        box-shadow:none;
                        padding:2px 4px !important;
                        color:#fff;
                        line-height:100%;
                        font-size:12px;
                        height:24px;
                    }
                    .btn{
                        background:transparent;
                        padding:0px 2px 2px 10px;
                        border-radius:15px 0 0 15px;
                        outline:none;
                        height:24px;
                    }

                }

            }

        }

    }

}

//carousel
.carousel{
    .carousel-caption{
        margin-bottom:15%;
        h1{
            font-size:101px;
            color:$yellow;
            @extend .light;
            line-height:100%;
        }
        p{
            @extend .light;
            font-size:16px;
            margin:20px 10%;
            line-height:180%;
        }

    }
    .carousel-indicators{
        li{
            border:1px solid $yellow;
            &.active{
                background:$yellow;
            }

        }

    }

}

//content-main
.content-main{
    .block{
        margin-top:50px;
        .title-block{
            text-align:center;
            font-size:43px;
            color:#3f3f3f;
            @extend .light;
            span{
                background:url(../images/title-block-line.gif) bottom center no-repeat;
                padding-bottom:20px;
                display: inline-block;

            }

        }
        .desc-block{
            text-align:center;
            margin:20px 0 40px;
            @extend .light;
            color:#808080;
            font-size:17px;
        }

    }
    .list-dev{
        margin-bottom:40px;

        li{
            margin-bottom:20px;

            .title{
                display: inline-block;
                margin:5px 0;
                color:#3f3f3f;
                @extend .semibold;
            }
            .date{
                display: block;
                color:#a5a5a5;
                font-size:12px;
            }
            .desc{
                margin-top:10px;
                color:#6d6d6d;
                font-size:13px;
                @extend .light;
            }

        }

    }

}

//list-about
.list-about{
    overflow:hidden;
    width:100%;
    li{
        float:left;
        opacity:0.5;
        width:20%;
        height:270px;
        overflow:hidden;
        img{
            width:100%;
            height:auto;
        }

    }

}

//content-page
.content-main{
    .content-page{
        padding:10px 0;
        h3{
            text-align:center;
            color:#3e7ef3;
            font-size:22px;
            text-transform:uppercase;
        }
        p{
            @extend .light;
            margin:20px;
            color:#616161;
            line-height:160%;
        }

    }

}

//list-blog
.main-blog{
    background:#f4f4f4;
    padding:30px 0;
}

.list-blog{
    margin-bottom:30px;
    .item{
        background:#fff;
        box-shadow:0 1px 5px rgba(0,0,0,0.2);
        margin:0 1% 20px;
        padding:0;
        width: 31%;
        padding-bottom:75px;
        border-top:4px solid;
        position:relative;
        &.blue{
            border-color:$blue;
        }
        &.yellow{
            border-color:$yellow;
        }
        &.blue-light{
            border-color:$blue-light;
        }

        .img{
            width:100%;
        }
        .bottom{
            padding:5px 20px;
            position:absolute;
            width:100%;
            @include box-sizing;
            background:#fff;
            bottom:0;
            .title{
                color:#3e7ef3;
            }
            .desc{
                color:#66666;
                font-size:13px;
                @extend .light;
                display: none;
            }

            .info{
                overflow: hidden;
                width:100%;
                font-size:11px;
                color:#8d8d8d;
                margin:10px 0;
                @extend .light;
                .date{
                    float:left;
                }
                .cat{
                    float:right;
                }

            }

        }
        &:hover{
            .desc{
                //display: block;
            }

        }
    }

}

//footer
footer{
    background:url(../images/footer-bg.jpg) bottom center no-repeat #0d0e15;
    padding:30px 0 20px;
    h5{
        color:$yellow;
        @extend .semibold;
        font-size:16px;
    }
    ul{
        li{
            margin:5px 0;
            a{
                color:#fff !important;
                font-size:14px;
            }

        }

    }
    .social{
        display: inline-block;
        margin-top:5px;
        li{
            float:left;
            margin:0 5px;
        }

    }
    .copy{
        color:#fff;
        margin:5px 0;
    }
    .top-scroll{
        display: inline-block;
        margin-top:20px;
    }

}


//site-name
.site-name{
    background: url(../images/stie-name-bg.jpg) center top no-repeat;
    height:178px;
    padding-top: 60px;

    font-size:33px;
    @extend .semibold;
    color:#fff;
    text-transform:uppercase;

    .sm {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        text-transform:none;
        @extend .light;
    }
}

//content-inner
.content-inner{
    h1{
        font-size:48px;
    }
    h2{
        font-size:36px;
    }
    h3{
        font-size:28px;
    }
    h4{
        font-size:24px;
    }
    h5{
        font-size:22px;
    }
    h6{
        font-size:16px;
        color:#262626;
        @extend .semibold;
    }

    h1,h2,h3,h4,h5{
        color:#676767;
        padding:10px 0;
        margin-top:30px;
    }
    .block-title{
        border-bottom:1px solid #dadada;
        color:#3e7ef3;
    }
    hr{
        border-top:1px solid #dadada;
        margin:30px 0;
        display:block;
    }
    p{
        margin:20px 0;
        color:#797979;
        @extend .light;
        font-size:15px;
        line-height:160%;
    }
    .quote{
        text-align: center;
        margin:60px 8%;
        font-family:Georgia;
        color:#6b6b6b;
        font-size:20px;
        position:relative;
        &:after,&:before{
            content:'';
            display: inline-block;
            width:20px;
            height:16px;
            position:absolute;
            background:url(../images/quotes.png) top;
            float:left;
            right:100%;
            margin-right:10px;
            bottom:100%;
        }
        &:after{
            background-position:bottom;
            float:right;
            left:100%;
            right:auto;
            margin-right:0;
            margin-left:10px;
            bottom:auto;
            top:100%;
        }

        .author{
            color:#999999;
            font-size:17px;
        }

    }
    ul,ol{
        margin:30px 0 30px 20px;
        li{
            margin:5px 0;
            color:#636363;
        }
    }
    ul li{
        list-style-type: disc;
    }
    ol li{
        list-style-type: decimal;
    }
    .form-login{
        width:90%;
        margin:0 5%;
    }
    label{
        color:#696969;
        font-size:16px;
        font-weight:400;
    }
    .input-group{
        margin-bottom:10px;
        .input-group-addon{
            background:#cbcbcb;
            border-color:#cbcbcb;
            min-width:44px;
            padding-left:5px;
            padding-right:5px;
        }
        .form-control{
            border-color:#cbcbcb;
            box-shadow:none;
        }

        &.change{
            .input-group-addon{
                background:#3e7ef3;
                border-color:#3e7ef3;
            }
            .form-control{
                border-color:#3e7ef3;
                color:#3e7ef3;
            }

        }

    }
    .form-login{
        p{
            a{
                color:#908f8f;
                font-size:13px;
            }

        }

    }
    .social{
        margin:0;
        display:inline-block;
        li{
            list-style-type:none;
            float:left;
            margin:0 5px;
            a{
                display: inline-block;
                width:34px;
                height:34px;
                background:#d4d4da;
                @include border-radius(50%);
                text-align:center;
                line-height:34px;
                transition: .3s;
                &:hover{
                    background:#3e7ef3;
                }

            }

        }

    }
    .form-add{
        .img{
            float:left;
            margin-right:5%;
        }
        .right{
            overflow: hidden;
        }
        .btn{
            margin-top:20px;
        }

    }
    .progress{
        overflow:visible;
        height:16px;
        background:#fff;
        border:1px solid #e6e6e6;
        label{
            background:url(../images/progress-bar-range.png) bottom center no-repeat;
            display: inline-block;
            padding-bottom:23px;
            color:#808080;
            font-size:14px;
            margin-left:-12px;
            position:relative;
            top:-23px;
            @extend .light;
        }
        .progress-bar{
            line-height:12px;
            @include border-radius(5px);
            &.progress-bar-primary{
                background:#3e7ef3;
            }
            &.progress-bar-info{
                background:#34d6ff;
            }
            &.progress-bar-success{
                background:#6ad950;
            }
            &.progress-bar-warning{
                background:#ffe615;
            }

        }

    }
    .radio{
        display: inline-block;
        width:16px;
        height:16px;
        padding:0;
        margin-right:10px;
        min-height:16px;
        &.black{
            background:url(../images/radio/black.png) top;
            &.active{
                background-position:center;
            }

        }
        &.yellow{
            background:url(../images/radio/yellow.png) top;
            &.active{
                background-position:center;
            }

        }
        &.blue{
            background:url(../images/radio/blue.png) top;
            &.active{
                background-position:center;
            }

        }

    }
    .tags{
        padding-top: 10px;
        a{
            color:#d1d1d1;
            font-size:13px;
            line-height:100%;
            padding:3px 10px;
            @include border-radius(10px);
            border:1px solid #d1d1d1;
            display: inline-block;
            margin-right:5px;
            margin-bottom:10px;
            transition: .3s;
            &:hover{
                color:#4381f3;
                border-color:#4381f3;
                text-decoration:none;
            }

        }

    }
    .send-social{
        margin:0;
        overflow:hidden;
        li{
            float:left;
            list-style-type:none;
            margin-right:15px;
        }

    }
    .navigation{
        overflow: hidden;
        padding:20px 0;
        margin:20px 0;
        .np{
            display: inline-block;
            margin-top:-10px;
            color:#3e7ef3;
            @extend .semibold;
            transition: .3s;
            &:hover {
                color: #2e6bdb;
                text-decoration: none;
            }
        }
        .pagination{
            margin:0 10px -12px;
            li{
                border:none;
                a{
                    margin:0 5px;
                    @include border-radius(5px);
                    border:1px solid #c1c1c1;
                    color:#555555;
                    transition: .3s;
                    &.active{
                        background:#3e7ef3;
                        border-color:#3e7ef3;
                        color:#fff;
                    }
                }
                span{
                    border:none;
                    margin:0 10px;
                    background:transparent;
                }

            }

        }

    }
    .table{
        thead{
            td{
                @extend .semibold;
                font-size:16px;
            }

        }

        tbody{
            tr:nth-child(odd){
                background:#d4dff3;
            }

        }

    }
    .alert{
        font-size:16px;
        text-align:center;
        box-shadow:none;
        &.alert-success{
            background:#b9f0a4;
            border-color:#68c445;
            color:#247a18;
        }
        &.alert-warning{
            background:#f9eb9c;
            border-color:#e2d58b;
            color:#958423;
        }
        &.alert-danger{
            background:#fd7575;
            border-color:#c93b3b;
            color:#fff;
        }

    }
    .input-group-success{
        .input-group-addon{
            background:#85c433;
            border-color:#85c433;
        }
        .form-control{
            border-color:#85c433;
            font-size:14px;
        }

    }
    .input-group-error{
        position:relative;
        .hint{
            position: absolute;
            z-index:22;
            padding:12px;
            background:#fd7575;
            line-height:100%;
            color:#fff;
            bottom:100%;
            @include border-radius(5px);
            font-size:14px;
            margin-bottom:10px;
            margin-left:10%;
            &:after{
                content:'';
                display: block;
                width:100%;
                height:8px;
                background:url(../images/hint-error-arrow.png) bottom center no-repeat;
                position: absolute;
                top:100%;
                left:0;
            }

        }

        .input-group-addon{
            background:#fd7575;
            border-color:#fd7575;
            border-radius:5px 0 0 5px;
        }
        .form-control{
            border-color:#fd7575;
            color:#fd7575 !important;
            font-size:14px;
        }

    }

    .page-title {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        @extend .light;

        .title {
            font-size: 38px; 
            margin-bottom: 8px;
            color: #3f3f3f;
        }

        .separating-line {
            height: 1px;
            width: 170px;
            background: #d3d3d3;
            margin: 0 auto;
        }

        .caption {
            margin-top: 8px;
            font-size: 16px; 
            color: #959595;
        }
    }

    .article {
        margin-bottom: 60px;

        .article-title{
            margin: 0;
            color:#3e7ef3;
            a {
                color: #3e7ef3;
                &:hover {
                    text-decoration: none;
                    color: #2e6bdb;
                }
            }
        }

        .more {
            color: #a5a5a5;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 40px;

            .name {
                float: left;
                margin-right: 25px;
                @extend .semibold;
            }

            .date {
                float: left;
                margin-right: 25px;
            }

            .view {
                float: left;
                margin-right: 25px;
                background: url(../images/view.png) no-repeat center left;
                padding-left: 20px;
            }

            .comments {
                float: left;
                margin-right: 25px;
                background: url(../images/comments.png) no-repeat center left;
                padding-left: 20px;
            }

            .settings {
                float: right;
                .dropdw {
                    display: block;
                    background: #ff3342;
                    padding: 10px;
                    position: absolute;
                    z-index: 110;
                }
            }
        }

        .article-content {
            
            &.wide {
                img {
                    width:100%;
                    margin-bottom: 10px;
                }
            }

            a{
                border: 0;
                &.moar {
                    display: inline-block;
                    font-size: 16px;
                    float: right;
                    margin: 10px 0;
                    color: #3e7ef3;
                    &:hover {
                        color: #2e6bdb;
                    }
                }
            }

            img {
                float: left;
                width: 300px;
                height: 185px;
                margin-right: 20px;
            }

            .content {
                color: #4f4f4f;
                font-size: 14px;
                line-height: 23px;
                @extend .light;
            }



            .btn {
                margin-top: 20px;
                padding-top:5px !important;
                padding-bottom: 5px !important;
                @extend .light;
                padding-right: 10px !important;
                padding-left: 10px !important;
            }
        }

     /*   .article-content-wide {


            img {

                width:100%;
                height: 311;
                margin-bottom: 10px;
            }

            .content {
                color: #4f4f4f;
                font-size: 14px;
                line-height: 23px;
                @extend .light;
            }

        }*/
    }

    .navcent {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sidebar {
        background: #fffbe6;
        padding: 0 20px 20px 20px;
        h3 {
            padding: 16px 0 4px 0;
            font-size: 19px;
            margin: 0;
            a {
                color: #3e79ff;
                &:hover {
                    color: #2e6bdb;
                }
                &:before {
                    content:'';
                    clear: both;
                    display: block;
                }
            }
        }
        .rss {
            display: inline-block;
            width: 12px;
            height: 16px;
            background: url(../images/rss.png) no-repeat;
            margin-left: 14px;
            opacity: 0.6;
            transition: .3s;
            vertical-align: bottom;
            &:hover{
                opacity: 1;
            }
        }
        ul {
            margin: 0 0 0 10px;
            padding: 0;
            li {
                list-style: none;
                padding: 3px 0;
                margin: 0;
                font-size: 15px;
                a {
                    display: inline-block;
                    color: #636363;
                    text-decoration: underline;
                    transition: .3s;
                    &:hover {
                        color: #333;
                    }
                }
                li {
                    padding: 1px 0;
                    margin: 0;
                    a {            
                        font-size: 12px;
                    }
                }
            }
            &.tags {
                li {
                    display: inline-block;
                    padding: 0;
                    a {
                        text-decoration: none;
                        margin: 2px;
                        &:hover {
                            color: #4381f3;
                        }
                    }
                }
            }

        }

    }

}


//responsive
@media screen and(min-width: 1200px){
    .list-dev{
        li{
            width:20%;
        }

    }

}
@media screen and(max-width: 1300px){
    .carousel{
        .carousel-caption{
            margin-bottom:10% !important;
        }
    }
}

@media screen and(max-width: 1200px){
    .carousel{
        .carousel-caption{
            margin-bottom:5% !important;
            left:1%;
            right:1%;
        }
        img{
            min-height:550px;
        }

    }
    .list-about{
        li{
            width:33%;
        }

    }

}
@media screen and(max-width: 1023px){
    .carousel{
        display:none;
    }
    .com {
        .row {
            padding: 1% 2%;
            .com-rait {
                display: none;
            }
            .dotted {
                display: none;
            }
        }
    }
    .top-info {
        text-align: center;
        .col-md-5, .col-md-4 {
            &:after {
                clear: both;
                display: block;
                content: "";
            }
        }
    }
    footer{
        text-align:center;
        .menu{
            margin-bottom:30px;
        }

    }

}

@media screen and(max-width: 750px){
    header{
        text-align:center;
        padding-bottom:0;
        .logo {}
        .langs{
            margin:15px 0;
            clear: both;
            display: block;
            text-align: center;
        }

        .right{
            text-align:center;
        }
        .search{
            float: right;
        }
        .menu{
            width: 100%;
            li{
                float: left;
                text-align: center;
                margin-right:2%;
                margin-bottom:2%;
                margin-left: 3%;
                margin-right: 3%;
                &.search {
                    float: right;
                }
            }
            .h-search-form.active {
                margin-top: 10px;
            }

        }

    }
    .com {
        .row {
            padding: 1% 2%;
            .com-rait {
                display: none;
            }
        }
    }
    .list-dev{
        li{
            text-align:center;
        }

    }
    .list-about{
        li{
            width:100%;
        }

    }
    footer{
        text-align:center;
        .menu{
            margin-bottom:30px;
        }

    }

}

.clear {
    clear: both;
}

.userpic {
    width: 100px;
    height: 100px;
    float: left;
}

.userinfo {
    float: left;
    margin-left: 20px;
    .name {
        @extend .semibold;
        font-size: 19px;
        margin-top: 3px;
    }

    .prof {
        color: #9a9a9a;
    }

    .btn {
        margin-top: 10px;
        min-width: 160px !important;
        width: 20px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }


}
.title-top {
    @extend .semibold;
    font-size: 16px;
    margin-top: 2px;
}
.share {
    a {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url(../images/social-icons.png);
        margin: 10px 10px 0 0;
        transition: .3s;
        &:hover i {
            opacity: 1;
        }
        i {
            display: inline-block;
            width: 22px;
            height: 22px;
            opacity: 0;
            transition: .3s;
            background-image: url(../images/social-icons.png);
        }
        &.fb {
            background-position: 0 0;
            i {
                background-position: 0 -23px;
            }
        }
        &.vk {
            background-position: -72px 0;
            i {
                background-position: -72px -23px;
            }
        }
        &.twitter {
            background-position: -48px 0;
            i {
                background-position: -48px -23px;
            }
        }
        &.g {
            background-position: -25px 0;
            i {
                background-position: -25px -23px;
            }
        }
    }
}


.top-info {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.left-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.t1 {
    clear: both;
    width: 100%;
}

.comment {
    .com {
        margin-bottom: 10px;
        padding: 20px 0;
        &.new {
            background: #f0f8ff;
        }
        &:hover .com-rait .but {
            opacity: 1;
        }
        &:nth-child(odd) {
            background: #feffef;
        }
    }
    .com-title {
        @extend .semibold;
        color: #5a5a5a;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .row {
        .com-user {
            width: 65px;
            height: 65px;
            margin: 0 auto;
        }
        .field-com {
            width: 100%; 
            height: 60px; 
            padding: 10px;
            resize: none;
            margin-bottom: -5px;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-top: 1px solid #5d93f5;
            border-left: 1px solid #5d93f5;
            border-right: 1px solid #5d93f5;
            border-bottom: 1px solid #e4e4e4;
        }

        .tools {
            height: 40px;
            width: 100%; 
            border-bottom-left-radius:5px;
            border-bottom-right-radius:5px;
            border-top:none;
            border-left: 1px solid #5d93f5;
            border-right: 1px solid #5d93f5;
            border-bottom: 1px solid #5d93f5;
            background: #f4f4f4;
        }

        .com-bold {
            float: left;
            display: block;
            height: 39px;
            width: 40px;
            background: url(../images/bold.png)no-repeat center center;
            border-bottom-left-radius:5px;
            border-right: 1px solid #ffffff;
        }
        .com-bold:hover {
            background-color: #fbfbfb;
        }

        .com-italic {
            float: left;
            display: block;
            height: 39px;
            width: 40px;
            background: url(../images/italic.png)no-repeat center center;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #ffffff;
        }
        .com-italic:hover {
            background-color: #fbfbfb;
        }

        .com-poz {
            float: left;
            display: block;
            height: 39px;
            width: 40px;
            background: url(../images/poz.png)no-repeat center center;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #ffffff;
        }
        .com-poz:hover {
            background-color: #fbfbfb;
        }

        .com-pic {
            float: left;
            display: block;
            height: 39px;
            width: 40px;
            background: url(../images/pic.png)no-repeat center center;
            border-left: 1px solid #e4e4e4;
            border-right: 1px solid #ffffff;
        }
        .com-pic:hover {
            background-color: #fbfbfb;
        }

        .com-line {
            float: left;
            height: 39px;
            width: 1px;
            background: #e4e4e4;

        }
        .com-fullscreen {
            float: right;
            display: block;
            height: 39px;
            width: 40px;
            background: url(../images/zoom.png)no-repeat center center;
        }

        .btn {
            float: right;
            margin-top: 15px;
            margin-right: 18px;
        }
        .dotted {
            color: #e0e0e0;
            font-size: 23px;
            text-align: right;
            line-height: 60px;
            padding-right: 0;
        }
        .name {
            color: #262626;
            display: inline-block;
            margin-right: 5px;
            @extend .semibold;
            &:after {
                display: inline-block;
                content: "•";
                color: #e0e0e0;
                font-size: 19px;
                margin: 0 4px 0 12px;
                line-height: 30px;
                vertical-align: middle;
            }
        }
        .date {
            display: inline-block;
            color: #ccccc7;
        }

        .text {
            color: #81817e;
            line-height: 24px;
            padding-top: 8px;
            &:before {
                display: block;
                clear: both;
                content:"";
                width: 100%;
            }
        }

        .com-rait {
            width: 25px;
            .but {
                opacity: 0;
                transition: .4s;
                i {
                    display: block;
                    width: 25px;
                    height: 25px;
                    line-height: 22px;
                    text-align: center;
                    font-size: 13px;
                    background: #ffffff;
                    color: #999;
                    border-radius: 5px;
                    border: 1px solid #d7d7d7;
                    cursor: pointer;
                    &.glyphicon-plus {
                        padding-left: 2px;
                    }
                }
            }

        }

        .number {
            width: 25px;
            font-size: 17px;
            margin-top: 6px;
            margin-bottom: 6px;
            text-align: center;
            .good {
                color: #61c634;
            }
        }
    }

}

div.settings {
    .submenu {
        background: #fff;
        position: absolute;
        top: -9px;
        left: -9px;
        z-index: 100;
        width: 123px;
        display: none;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 200px;
        border-radius: 6px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
        ul {
            list-style:none;
            padding: 0;
            margin: 0;
            li {
                list-style:none;
                .q1 {
                    color: #56b239;
                }

                .q2 {
                    color: #e64884;
                }

                .q3 {
                    color: #898989;
                }
            }
        }
    }

    .dropdown {
        color: #555;
        width: 143px;
        position: relative;
        height: 17px;
        text-align:left;
        li {
            a {
                color: #555555;
                display: block;
                font-family: arial;
                font-weight: bold;
                padding: 6px 10px;
                text-align: left;
                cursor: pointer;
                text-decoration:none;
                transition: .3s;
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    a.account {
        cursor: pointer;
        float: right !important;
        display: block;
        background: url(../images/settings.png) no-repeat;
        width: 16px;
        height: 16px;
        transition: .3s; 
        opacity: .6;
        &:hover{
            opacity: 1;
        }
    }
}
.root
{
    list-style:none;
    font-size: 11px;

}


.btn-custom {
    transition: .3s;
}