<div class="right pagination-controls">
            <span class="pagination-counter">
                {{view.counter}}
            </span>
    {{#view view.prevButtonView}}
        <i class="icon black icon-left-thin"></i>
    {{/view}}
    {{#view view.nextButtonView}}
        <i class="icon black icon-right-thin"></i>
    {{/view}}
</div>