<div class="columns small-12">
    <div class="row s-full-height umi-tree-wrapper">
        <ul class="umi-tree-list umi-tree">
            {{view "treeControlItem" item=root treeControlView=view}}
        </ul>
        {{#if isLoading}}
            <div class="umi-tree-loader"><i class="animate animate-loader-60"></i></div>
        {{/if}}
    </div>
</div>