<div class="columns small-12">
    <div class="row s-full-height umi-tree-wrapper">
        <ul class="umi-tree-list umi-tree">
            {{render "treeControlItem" root}}
        </ul>
    </div>
</div>