
{% if (errors) %}
    <div class="alert alert-danger">
        <ul>
            {% for message in errors %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form {{ form.attributes | raw }}>
    {% for element in form.elements %}
        {{ include('form/element.twig', {'element' : element}) }}
    {% endfor %}
</form>
