.umi-columns{
    @include grid-column(
        $collapse: false,
            // Specify the float direction
        $float: none
    );
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 -0.1rem;

    &-fixed{
        &.small-1-right{
            width: rem-calc(36);
            float: right;
            ~ .columns{
                margin-right: rem-calc(36);
                float: none;
            }
        }
        &.small-2-right{
            width: rem-calc(72);
            float: right;
            ~ .columns{
                margin-right: rem-calc(72);
                float: none;
            }
        }
        ~ .columns{
            width: auto;
            float: none;
        }
    }
}