@import "../../settings";

.umi-popup{
    float: left;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 #000000;

    &-content{
        overflow: hidden;
        background: #F5F6F7;
        height: calc(100% - 34px);
        width: 100%;
    }

    &-header{
        width: 100%;
        height: 34px;
        background: linear-gradient(#414a59, #21252e);
        color: #fff;
        padding: 0 15px;
        text-align: center;
        box-sizing: border-box;
        position: relative;
    }

    &-title{
        display: block;
        line-height: 34px;
        color: #fff;
        font-size: 14px;
    }

    &-close-button{
        position: absolute;
        right: 0;
        top: 0;
        i{
            margin: 8px;
        }
    }

    &-resizer{
        display: none;
        z-index: 100;
        position: absolute;
        float: left;
        bottom: 0;
        right: 0;
        cursor: se-resize;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #575e6c transparent;
    }

    &-visible-overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: rgba(255,255,255,0.3);
    }

    &-invisible-overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    &-content-with-bottom{
        height: calc(100% - 36px);
        max-height: calc(100% - 36px);
    }

    &-bottom{
        height: 32px;
        position: relative;
        padding: 2px 15px;

        &:before{
            content: "";
            position: absolute;
            display: block;
            height: 3px;
            width: 100%;
            top: -3px;
            left: 0;
            background: url($image-to-top-shadow);
        }
    }
}


.umi-overlay{
    position: absolute;
    z-index: 9000;
    width: 100%;
    height: 100%;
    top: 0;
}

.umi-overlay-white{
    position: absolute;
    z-index: 9000;
    background: #FFFFFF;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
}

.umi-blur{
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxkZWZzPg0KICAgICAgICA8ZmlsdGVyIGlkPSJibHVyIj4NCiAgICAgICAgICAgIDxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiLz4NCiAgICAgICAgPC9maWx0ZXI+DQogICAgICAgIDxmaWx0ZXIgaWQ9ImRyb3Atc2hhZG93Ij4NCiAgICAgICAgICAgIDxmZUdhdXNzaWFuQmx1ciBpbj0iU291cmNlQWxwaGEiIHN0ZERldmlhdGlvbj0iMiIvPg0KICAgICAgICAgICAgPGZlT2Zmc2V0IGR4PSI1IiBkeT0iNSIgcmVzdWx0PSJvZmZzZXRibHVyIi8+DQogICAgICAgICAgICA8ZmVGbG9vZCBmbG9vZC1jb2xvcj0iIzAwMDAwMCIvPg0KICAgICAgICAgICAgPGZlQ29tcG9zaXRlIGluMj0ib2Zmc2V0Ymx1ciIgb3BlcmF0b3I9ImluIi8+DQogICAgICAgICAgICA8ZmVNZXJnZT4NCiAgICAgICAgICAgICAgICA8ZmVNZXJnZU5vZGUvPg0KICAgICAgICAgICAgICAgIDxmZU1lcmdlTm9kZSBpbj0iU291cmNlR3JhcGhpYyIvPg0KICAgICAgICAgICAgPC9mZU1lcmdlPg0KICAgICAgICA8L2ZpbHRlcj4NCiAgICA8L2RlZnM+DQo8L3N2Zz4=#blur);
    filter: blur(2px);
}
@media all and (-ms-high-contrast:none){
    .umi-blur ~ * .umi-overlay{
        opacity: 0.3;
        background: #FFFFFF;
    }
}