.umi-toolbar{
    width: 100%;
    position: relative;
    height: 32px;
    @include s-gradient-grey();
    border-bottom: 1px solid #98A2AB;

    .umi-hide-button-label .button.wide-medium{
        padding-left: $button-med * 4;
        padding-right: $button-med * 4;
    }

    .button-group .button{
        border-top: 0;
        border-bottom: 0;
        padding-top: $button-med + rem-calc(1);
        padding-bottom: $button-med + rem-calc(1);
    }

    .f-dropdown.content{
        .button {
            padding: 0.4rem;
            line-height: 1.4rem;
        }

        table td {
            line-height: 1.6rem;
        }

        transform: translateZ(0);
    }

    .umi-hide-pagination-label {
        .pagination-limit,
        .pagination-counter {
            display: none;
        }
    }

}