$umi-top-bar-height: rem-calc(25);

//nth($umi-bg-darken-set, 1);
$umi-bg-darken-set: #404959, #181B21;

.umi-top-bar{
    background: linear-gradient(nth($umi-bg-darken-set, 1) 0%, nth($umi-bg-darken-set, 2) 100%);
    position: relative;
    @include clearfix();
    &-list{
        @extend .no-bullet;
        @extend .s-margin-clear;
        white-space: nowrap;
        > li{
            white-space: normal;
            display: inline-block;
        }
    }
    &-label{
        font-weight: bold;
        font-size: rem-calc(12);
        color: #D5D6D8;
        height: $umi-top-bar-height;
        line-height: $umi-top-bar-height;
        padding: 0 $button-sml;
        vertical-align: top;
        .icon{
            margin-top: rem-calc(4);
        }
    }
    &-button.button{
        margin: 0;
        height: $umi-top-bar-height;
        line-height: $umi-top-bar-height;
        color: #D5D6D8;
        font-weight: bold;
        font-size: rem-calc(12);
        padding-top: 0;
        padding-bottom: 0;
        .icon{
            margin: -3px 0 0 3px;
        }
        &:hover{
            background: linear-gradient(#535b69 0%, #31353b 100%);
            border-bottom-color: #31353b;
        }
    }
    .dropdown{
        .button.tiny{
            &:before{
                margin-top: -1px;
            }
        }
        &.open{
            background: #fff;
            color: #575e6c;
            border-bottom-color: transparent;
            &:after{
                border-top-color: #575e6c;
            }
             > .f-dropdown{
                 margin-top: -1px;
             }
        }
    }
    .f-dropdown{
        margin-right: -1px;
        margin-top: -1px;
        padding: 5px 0;
        box-shadow: none;
        li{
            a{
                min-width: rem-calc(160);
                border-bottom: 1px solid #E9E9E9;
                display: block;
                &:hover{
                    text-decoration: none;
                    background: #eeeeee;
                }
                &:first-child{
                    border-top: 1px solid #E9E9E9;
                }
            }
        }
        &:after{
            content: "";
            position: absolute;
            float: left;
            display: block;
            height: 3px;
            width: 100%;
            left: 0;
            bottom: -3px;
            background: url($image-to-bottom-shadow);
            background-repeat: repeat-x;
            right: 0;
            border: 0;
            top: auto;
        }
    }
}