$umi-hover-background: #A4DCF7;
$umi-font-color: #535E6D;
$umi-dark-border-color: #CCD9E2;
$umi-tree-color-active: #259cec;

.umi-tree {
    padding: 10px 0 20px;
    box-sizing: border-box;
    margin-left: rem-calc(10);
    font-size: rem-calc(13);

    &-wrapper {
        overflow: hidden;
    }

    &-list{
        margin: 0;
        list-style: none;
        font-size: rem-calc(13);
        padding-left: rem-calc(20);
    }

   &-list-li{
        list-style: none;
        line-height: rem-calc(24);
        .tree-item-link{
            color: $umi-font-color;
            &.active {
                color: $umi-font-color;
            }
        }
    }

    .umi-item{
        text-overflow: ellipsis;
        padding: 0 10px 0 28px;
        white-space: nowrap;
        position: relative;

        &:hover, &.active{
            margin-left: -10000px;
            padding-left: 10028px;
            padding-right: 10px;
        }

        &:hover{
            background: #AFD3EC;

            .umi-tree-context-toolbar{
                .button.split{
                    display: block;
                }
            }

            .tree-item-link{
                text-decoration: none;
            }
        }

        &.active{
            background: $umi-tree-color-active;
            color: #FFFFFF;

            .tree-item-link{
                color: #FFFFFF;
                border-bottom: none!important;
            }

            .split.button.open{
                display: block;
            }

            .f-dropdown{
                .tree-item-link{
                    color: $umi-font-color;
                }
            }
        }

        &.in-active{
            .umi-tree-type-icon, .tree-item-link{
                opacity: 0.65;
            }
        }
    }

    .umi-tree-type-icon{
        margin: rem-calc(2 0 0 -2);

        &.move{
            cursor: move !important;
        }
    }

    .umi-expand{
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(20);
        cursor: hand;
        position: absolute;
        margin-left: rem-calc(-28);
        padding: rem-calc(2);
        top: 0;

        &:hover{
            background: #FFFFFF;
        }

        &:not(:hover) {
            transition: .5s;
        }
    }

    .umi-tree-placeholder{
        height: rem-calc(24);
        background: #C4D2DD;
        border-radius: rem-calc(12);
        margin-left: 28px;
        transition: background 0.2s linear;

        &:hover, &:focus {
            background: darken(#C4D2DD, 3%);
        }
    }

    &.drag-inside{
        a, .icon, .move{
            cursor: default;
        }

        .umi-item{
            &:hover{
                background: transparent;
            }
        }
    }

    &-loader{
        position: absolute;
        background: rgba(236, 236, 236, 0.44);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;

        .animate{
            top: 50%;
            margin-top: -30px;
        }
    }

    // Выпадающее меню --------------------------------------
    .umi-tree-context-toolbar{
        position: absolute;
        right: rem-calc(10);
        margin: 0;
        padding: 0;
        margin-top: -24px;

        .split.button{
            display: none;

            &.open{
                display: block;

                .f-dropdown{
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }
            .button-label{
                display: none;
            }

            .f-dropdown{//TODO: replaced 'right' class
                margin-top: 8px;
                right: -1px;
                left: auto;
                width: auto;
            }
        }
    }
}

.umi-tree-ghost{
    height: rem-calc(24);
    color: #000000;
    border: none;
    line-height: rem-calc(24);
    font-size: rem-calc(13);
    display: inline-block;
    cursor: default;
    position: absolute;
    z-index: 100;

    i{
        margin: rem-calc(2 -2 2 0);
    }
}