<textarea>Content</textarea>
<div class="umi-element-textarea-resizer"></div>

<style>
    .umi-element-textarea{
        position: relative;
    }

    .umi-element-textarea textarea{
        padding-bottom: 14px;
        transition: none!important;
    }

    .umi-element-textarea-resizer{
        position: absolute;
        width: calc(100% - 1px);
        height: 10px;
        margin-top: -24px;
        margin-left: 1px;
        background: #D3D7DA;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        cursor: s-resize;
    }

    .umi-element-textarea-resizer:hover {
        /*background: #444444;*/
    }
</style>