<div class="small-11 columns">
    {{view "textElement" object=view.object meta=view.meta}}
</div>

<div class="small-1 columns">
    <span class="postfix" {{action "clearValue" target="view"}}>
        <i class="icon icon-delete"></i>
    </span>
</div>