@charset "UTF-8";
/** General classes **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic);
pre {
  background: #f2f2f2;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 0.857em;
  min-width: 620px;
  padding: 10px 5px; }

a {
  text-decoration: none; }

hr.vertical {
  height: 100%;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid; }

ul.simple {
  list-style: none; }

ul.horizontal {
  letter-spacing: -0.26em; }

ul.horizontal > li {
  letter-spacing: normal;
  display: inline-block; }

.slim {
  font-weight: 400; }

.small, small {
  font-size: 0.857em; }

.big {
  font-size: 1.143em; }

.breadcrumbs a[href]::after {
  content: "/";
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black; }

.container {
  display: block;
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

[class^='justify'] {
  overflow: hidden;
  text-align: center; }

[class^='justify'] .toLeft {
  float: left; }

[class^='justify'] .toRight {
  float: right; }

[class^='justify'] .toMid {
  display: inline-block;
  float: none;
  margin: 0 auto; }

.column {
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc; }

/** Root **/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-horaN7vELC11_xip9Rz-hMs.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxq6JHp92iES8exGTOIyTn1A.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBmOb2gHztoQeulij-1lvl-8.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxl1DIE4XHZKVVbKkAUmpPQQ.woff) format("woff"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url(http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxsm6z33g0Z9rhmCMv9JmtIA.woff) format("woff"); }
/**@import url();**/
body {
  margin: 0;
  background: white;
  font-family: "Open Sans",sans-serif;
  font-size: 14px; }

/** Hader settings **/
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2em; }

/** Text colors **/
p, pre, aside a {
  color: #323232; }

/** Header **/
header a {
  color: rgba(255, 255, 255, 0.8); }

.justify_head {
  height: 115px;
  line-height: 115px;
  border-bottom: 1px solid white;
  background-image: radial-gradient(circle farthest-side, #206694 70%, #33586d 100%); }

.justify_head img {
  vertical-align: middle; }

.justify_head .toRight {
  margin-left: 30px; }

nav.dropdown {
  background: #222; }

nav.dropdown .container {
  overflow: visible; }

nav.dropdown a {
  color: white;
  display: block;
  padding: 11px 20px;
  background: #222;
  transition-duration: .3s;
  transition-property: background; }

nav.dropdown a:hover {
  background-color: #0082c6 !important; }

nav.dropdown a[href='/'] {
  background: url("images/house.svg") no-repeat center center;
  color: transparent; }

nav.dropdown a.dropdown {
  position: relative; }

nav.dropdown li > ul {
  position: absolute;
  padding: 0;
  z-index: 1; }

/** Header **/
/** Breadcrumbs **/
.breadcrumbs {
  padding: 25px 0;
  margin-bottom: 20px; }

.breadcrumbs a[href] {
  color: #0082c6; }

section.breadcrumbs a[href]:after {
  padding: 0 0.78em; }

/** Breadcrumbs **/
/** Aside **/
aside {
  padding-bottom: 30px; }

aside ul {
  padding-left: 15px;
  margin: 0; }

aside ul li {
  margin: 4px -5px; }

aside h4 {
  margin-top: 25px; }

aside h4:first-child {
  margin-top: 0; }

aside a.active {
  color: #0082c6; }

/** Aside **/
/** Main **/
main {
  padding-bottom: 30px; }

main a {
  color: #0082c6; }

main h1 {
  margin-bottom: 10px; }

/** Main **/
/** Tables **/
h2.table-header {
  margin: 30px 0 20px;
  color: #333; }

h2.table-header .sub {
  display: block;
  font-weight: 400; }

.table-header + table {
  color: #333;
  width: 100%;
  border-collapse: collapse; }

.table-header + table th {
  text-align: left;
  max-width: 500px; }

.table-header + table td:first-child,
.table-header + table td:first-child + td + td {
  min-width: 200px; }

.table-header + table td:first-child + td {
  min-width: 150px; }

.table-header + table td {
  line-height: 1.5em;
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding: 10px 0; }

/** Media menu **/
.media-list a {
  color: #0082c6; }

.media-heading .handler {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 6px; }

.media-heading.active .handler svg {
  -ms-transform: rotate(90deg);
  /* ╨Ф╨╗╤П IE */
  -webkit-transform: rotate(90deg);
  /* ╨Ф╨╗╤П Safari, Chrome, iOS */
  -o-transform: rotate(90deg);
  /* ╨Ф╨╗╤П Opera */
  transform: rotate(90deg); }

.media-list .media .media-body {
  margin-bottom: 20px; }

main > ul.media-list ul {
  display: none;
  padding-left: 35px;
  margin-top: 20px; }

main > ul.media-list ul.active {
  display: block; }

/** Footer **/
footer, footer > div.container {
  background-color: #191919; }

footer section {
  margin-top: 45px;
  vertical-align: top; }

footer section:first-child {
  margin-top: 30px; }

footer h4 {
  margin-bottom: 15px; }

footer a {
  color: white; }

footer ul {
  padding: 0; }

footer section:first-child img,
footer section:first-child span {
  display: block; }

footer section:first-child img {
  height: 62px; }

footer section:first-child span {
  margin-left: 2px;
  margin-top: 38px;
  margin-bottom: 10px;
  color: #7f7f7f; }

footer .social_like {
  margin-top: 0; }
  footer .social_like li:first-child {
    width: 99px; }
    footer .social_like li:first-child + li {
      width: 77px; }
      footer .social_like li:first-child + li + li {
        width: 164px; }
        footer .social_like li:first-child + li + li + li {
          width: 98px; }

/** Footer **/
/* :root {
	--outline-size: 0px;
}
@media (max-width: 767px) { * { outline: var(--outline-size) solid red; } }
@media (min-width: 768px) { * { outline: var(--outline-size) solid orange; } }
@media (min-width: 992px) { * { outline: var(--outline-size) solid yellowgreen; } }
@media (min-width: 1200px) { * { outline: var(--outline-size) solid green; } }

*/
/** Mobiles <768px **/
@media (max-width: 767px) {
  /** Headers size **/
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.2em; }

  h4 {
    font-size: 1em; }

  /** Main menu **/
  nav.dropdown > ul > li {
    display: none; }

  nav.dropdown > ul > li:first-child {
    display: block; }

  nav.dropdown > ul > li:first-child a {
    background: url("images/menu.svg") no-repeat scroll center center;
    cursor: pointer; }

  nav.dropdown.drop > ul > li {
    display: list-item;
    text-align: center; }

  nav.dropdown.drop li > ul {
    display: none; }

  nav.dropdown.drop li > ul.drop {
    display: block; }

  nav.dropdown.drop a.mobile-button {
    width: 5px;
    padding: 11px 20px;
    float: right;
    cursor: pointer;
    background: url("images/menu.svg") no-repeat scroll center center; }

  nav.dropdown.drop a.mobile-button + a.dropdown {
    margin-right: 45px;
    padding-left: 70px; }

  nav.dropdown.drop a.dropdown + ul.drop {
    position: relative; }

  /** Aside menu **/
  #js-menu-aside {
    background: none repeat scroll 0 0 #f2f2f2;
    color: black;
    cursor: pointer;
    display: block;
    padding: 11px;
    text-align: center; }

  #js-menu-aside svg {
    -ms-transform: rotate(90deg);
    /* ╨Ф╨╗╤П IE */
    -webkit-transform: rotate(90deg);
    /* ╨Ф╨╗╤П Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
    /* ╨Ф╨╗╤П Opera */
    transform: rotate(90deg); }

  #js-menu-aside.active svg {
    -ms-transform: rotate(270deg);
    /* ╨Ф╨╗╤П IE */
    -webkit-transform: rotate(270deg);
    /* ╨Ф╨╗╤П Safari, Chrome, iOS */
    -o-transform: rotate(270deg);
    /* ╨Ф╨╗╤П Opera */
    transform: rotate(270deg); }

  .page aside {
    display: none; }

  .page aside.drop {
    display: block;
    background: white;
    margin-top: 10px; }

  .page aside.drop + main {
    display: none; }

  /** Main **/
  main {
    padding-left: 0; }

  /** Footer **/
  footer {
    height: auto; }

  footer .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; }

  footer section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    order: 2;
    -webkit-order: 2; }

  footer section:first-child {
    order: 3;
    -webkit-order: 3; }

  footer section:last-child {
    order: 1;
    -webkit-order: 1; }

  footer section:first-child img {
    margin-left: auto;
    margin-right: auto; }

  /** Twitter **/
  .page .container {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; }

  .twitter {
    margin-bottom: 20px;
    text-align: center;
    order: 2;
    -webkit-order: 2; }

  .twitter + main {
    order: 1;
    -webkit-order: 1; } }
/** Tablets тЙе768px **/
@media (min-width: 768px) {
  /** Headers size **/
  h1 {
    font-size: 2.572em; }

  h2 {
    font-size: 1.571em; }

  h3 {
    font-size: 1.286em; }

  h4 {
    font-size: 1em; }

  /** Main menu **/
  nav.dropdown > ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around; }

  nav.dropdown > ul > li:first-child,
  nav.dropdown li > ul,
  nav.dropdown a.mobile-button {
    display: none; }

  nav.dropdown li:hover > ul {
    display: block; }

  nav.dropdown a.dropdown {
    padding-right: 25px; }

  nav.dropdown a.dropdown:after {
    border-color: white transparent transparent;
    border-style: solid;
    border-width: 4px;
    position: absolute;
    right: 10px;
    top: 20px;
    content: " "; }

  /* aside */
  #js-menu-aside {
    display: none; }

  aside {
    width: 220px;
    border-right: 1px solid #ccc;
    float: left; }

  /* Main */
  aside + main {
    padding-left: 45px;
    margin-left: 220px;
    border-left: 1px solid #ccc; }

  /* twitter */
  .twitter {
    float: right;
    width: 280px;
    margin-bottom: 20px; }

  .twitter + main {
    margin-right: 300px; }

  /* absolute footer */
  html {
    min-height: 100%;
    padding-bottom: 200px;
    position: relative;
    box-sizing: border-box; }

  footer {
    bottom: 0;
    position: absolute;
    height: 200px;
    width: 100%; }

  footer section {
    display: inline-block;
    margin-right: 60px; } }
/** Desktops тЙе992px **/
@media (min-width: 992px) {
  /** Main menu **/
  nav.dropdown > ul {
    display: block; }

  /** Twitter **/
  .twitter {
    float: right;
    width: 400px;
    margin-bottom: 20px; }

  .twitter + main {
    margin-right: 420px; } }
/** Large desktops тЙе1200px **/
@media (min-width: 1200px) {
  footer section:last-child {
    float: right; } }

/*# sourceMappingURL=styles.css.map */
