/.idea
/composer.phar
/composer.lock
/project/db.config.php
/vendor
/umicms/project/admin/asset/node_modules
/umicms/project/admin/asset/vendor
/umicms/project/admin/asset/development
/Vagrantfile
/.vagrant
*.pp
