# Start UMI.CMS settings

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /
    RewriteCond %{REQUEST_URI} !=/update.phar.php
    RewriteRule ^(.*)$ public/$1
</IfModule>

# End UMI.CMS settings