<div class="umi-element-left umi-element-left-file">

</div>

<div class="umi-element-center umi-element-center-file" {{action "showPopup" "fileManager" view.object this.meta}}>
    {{view view.inputView}}
</div>

<div class="umi-element-right umi-element-right-file">
    <i class="icon icon-delete"></i>
    <i class="icon icon-open-folder"></i>
</div>