<div class="small-11 columns">
    {{view view.inputView}}
</div>

<div class="small-1 columns">
    <span class="postfix">
        <i class="icon icon-delete"></i>
    </span>
</div>

<style>
    .umi-time-picker{
        position: absolute;
        float: left;
        width: 200px;
        height: 200px;
        background: #FFFFFF;
    }
</style>