{{#if view.content.title}}
    <h5 class="subheader">{{view.content.title}}</h5>
{{/if}}

{{{view.content.content}}}

{{#if view.content.close}}
    <span {{action 'close' view.content target="view"}} class="close">&times;</span>
{{/if}}