{{#if view.model.title}}
    <h5 class="subheader">{{view.model.title}}</h5>
{{/if}}

{{{view.model.content}}}

{{#if view.model.close}}
    <span {{action 'close' view.model target="view"}} class="close"><i class="icon close white"></i></span>
{{/if}}