<div class="s-full-height">
    {{#view 'divider' modelBinding="model"}}

        {{#if sideBarControl}}
            <div class="umi-divider-left">
                <div class="umi-divider-left-content">
                    {{outlet 'sideBar'}}
                </div>

                <div class="umi-divider"></div>
            </div>

            <div class="umi-left-bottom-panel s-unselectable">
                <a href="javascript:void(0)" class="button white square umi-divider-left-toggle">
                    <i class="icon icon-left"></i>
                </a>
            </div>
        {{/if}}

        <div class="umi-divider-right">
            <div class="umi-component columns small-12 s-padding-clear">
                {{outlet}}
            </div>
        </div>

    {{/view}}
</div>