<div class="s-full-height">
    {{#view 'offcanvas' modelBinding="model"}}

        {{#if sideBarControl}}
            <div class="umi-divider-left">
                <div class="umi-divider-left-content">
                    {{outlet 'sideBar'}}
                </div>

                <div class="umi-divider"></div>
            </div>
        {{/if}}

        <div class="umi-divider-right">
            <div class="umi-component columns small-12 s-padding-clear">
                {{outlet}}
            </div>
        </div>

    {{/view}}

    <div class="umi-left-bottom-panel s-unselectable">
        <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg umi-divider-left-toggle umi-disabled">
            <i class="icon icon-left"></i>
        </a>

        <a href="javascript:void(0)" class="umi-button-icon-32 umi-light-bg" style="position: relative;" title="Фильтр который сейчас не работает">
            <i class="icon icon-filter"></i>
            <span style="position:absolute; float:left; background: #FFFFFF; left: 0; bottom: 32px;">
                {{#view view.filtersView}}
                    {{#each filters}}
                        <a href="javascript:void(0)">{{displayName}}</a>
                    {{/each}}
                {{/view}}
            </span>
        </a>
    </div>
</div>