<style>
    .umi-table-ajax{
        /*background: #FFFFFF;*/
    }
    .umi-table-ajax-tr:hover{
        background: #BFE0F8;
        cursor: pointer;
    }
</style>

<div class="umi-table-ajax-control-content">
    <div class="umi-table-ajax-control-content-center">
        <table cellpadding="0" class="umi-table-ajax-content">
            <thead>
                <tr class="umi-table-ajax-titles">

                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>
                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>
                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>

                    <td class="umi-table-ajax-empty-header-column"></td>
                </tr>
            </thead>

            <tbody>


                <!--<tr>-->
                    <!--<td class="umi-table-ajax-empty-result">-->
                        <!--Нет записей-->
                    <!--</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>


<canvas id="canvas" height="450" width="450"></canvas>