<style>
    .umi-table-ajax{
        background: #D6E0E9;;
    }
    .umi-table-ajax-tr:hover{
        background: #BFE0F8;
        cursor: pointer;
    }
</style>

<div class="umi-table-ajax-control-content">
    <div class="umi-table-ajax-control-content-center">
        <table cellpadding="0" class="umi-table-ajax-content">
            <thead>
                <tr class="umi-table-ajax-titles">
                    <td class="umi-table-ajax-empty-header-column"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="umi-metrika-empty-row" style="display: none;">
                    <td class="umi-table-ajax-empty-result" colspan="4">
                        Нет записей
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>