<div class="umi-table-ajax-control-content">
    <div class="umi-table-ajax-control-content-center">
        <table cellpadding="0" class="umi-table-ajax-content">
            <thead>
                <tr class="umi-table-ajax-titles">

                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>

                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>

                    <td class="umi-table-ajax-header-column">
                        <div class="umi-table-ajax-title-div">Заголовок</div>
                    </td>

                    <td class="umi-table-ajax-empty-header-column"></td>
                </tr>
            </thead>

            <tbody>
                <tr class="umi-table-ajax-tr" data-object-id="">
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>

                    <td class="umi-table-ajax-empty-column"></td>
                </tr>

                <tr class="umi-table-ajax-tr" data-object-id="">
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>

                    <td class="umi-table-ajax-empty-column"></td>
                </tr>

                <tr class="umi-table-ajax-tr" data-object-id="">
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>
                    <td class="umi-table-ajax-cell-td"><div class="umi-table-ajax-cell-div">Контент</div></td>

                    <td class="umi-table-ajax-empty-column"></td>
                </tr>
                <!--<tr>-->
                    <!--<td class="umi-table-ajax-empty-result">-->
                        <!--Нет записей-->
                    <!--</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>