<a href="{{ category.getPageUrl() }}">
    {{ category.displayName }}
</a> {{ widget('blog.category.rssLink', {'category' : category, 'template' : 'rssLink'}) }}
{{ widget('blog.category.list', {'parentCategory' : category, 'template' : 'listShort'}) }}