<div class="columns small-12" style="overflow: hidden;">
    <div class="row s-full-height umi-tree-wrapper">
        <ul class="umi-tree-list umi-tree">
            {{#each root itemController="treeItem"}}
                {{#if visible}}
                    {{view "treeItem"}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>