<div {{bind-attr class=":small-2 :columns :umi-columns-fixed view.value:small-2-right:small-1-right"}}>
    <span class="postfix">
        <span class="button-group">
            <li>
                <span class="button flat white square" {{action "showPopup" view.popupParams target="view"}}>
                    <i class="icon icon-open-folder"></i>
                </span>
            </li>
            {{#if view.value}}
                <li>
                    <span class="button flat white square" {{action "clearValue" target="view"}}>
                        <i class="icon icon-delete"></i>
                    </span>
                </li>
            {{/if}}
        </span>
    </span>
</div>

<div class="small-10 columns">
    {{view "textElement" object=view.object meta=view.meta}}
</div>
