<span class="umi-toolbar-create-text">
    {{view.button.displayName}}
</span>

<span class="umi-toolbar-create-icon">
    <i class="icon icon-bottom"></i>
</span>

<span class="umi-toolbar-create-list umi-hide-on-html">
    {{#each view.button.list}}
        <span {{action 'sendAction' behaviour view.object}}>
            {{displayName}}
        </span>
    {{/each}}
</span>
