<a class="umi-button umi-toolbar-create-button">
    <span class="umi-toolbar-create-text" {{action 'objectCreate' target='view'}}>Создать</span>
    <span class="umi-toolbar-create-icon">
        <i class="icon icon-bottom"></i>
    </span>
    <span class="umi-toolbar-create-list umi-hide-on-html">
        <span>Создать объект</span>
    </span>
</a>