<ul class="button-group left">
    {{#each view.toolbar}}
        {{view "toolBarButton" rootContext=view.rootContext contextAction=view.contextAction}}
    {{/each}}
</ul>

<div class="right">
    {{yield}}
</div>