<style>
    .umi-create-object-drop-down-button{
        float: left;
        height: 34px;
        line-height: 32px;
        padding: 0 20px;
        background: linear-gradient(to bottom, #3aadff, #0087d4);
        color: #FFFFFF;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial;
        cursor: pointer;
    }
</style>

<a class="umi-create-object-drop-down-button" {{action 'sendAction' this controller.model}}>Создать</a>