<a href="{{ rubric.getPageUrl() }}">
    {{ rubric.displayName }}
</a> {{ widget('news.rubric.rssLink', {'rubric' : rubric, 'template' : 'rssLink'}) }}
{{ widget('news.rubric.list', {'parentRubric' : rubric, 'template' : 'listShort'}) }}