{% if (list.getTotal()) %}
    <ol class="list-unstyled">
        {% for category in list %}
            <li>
                {{ widget('blog.category.view', {'category' : category, 'template' : 'listShortView'}) }}
            </li>
        {% endfor %}
    </ol>
{% endif %}