<style>
    .umi-accordion-side-bar{
        overflow: hidden;
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 200px;
        height: 100%;
        border-right: 1px solid #98A2AB;
        background: #D6E0E9
    }

    .umi-divider-metrika {
        position: absolute;
        z-index: 100000;
        top: -1px;
        right: 0;
        width: 4px;
        height: calc(100% + 1px);
        background: #E0E4E7;
        border-left: 1px solid #ADB9C5;
    }
</style>

<div class="umi-accordion-side-bar">
    <ul class="umi-accordion"></ul>
    <!--<div class="umi-divider-metrika"></div>-->
</div>