<ul>
    <li>
        <span>Группа</span>
        <ul class="umi-accordion-trigger active">
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
        </ul>
    </li>
    <li>
        <span>Группа</span>
        <ul class="umi-accordion-trigger">
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
        </ul>
    </li>
    <li>
        <span>Группа</span>
        <ul class="umi-accordion-trigger">
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
        </ul>
    </li>
    <li>
        <span>Группа</span>
        <ul class="umi-accordion-trigger">
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
        </ul>
    </li>
    <li>
        <span>Группа</span>
        <ul class="umi-accordion-trigger">
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
            <li>Элемент</li>
        </ul>
    </li>
</ul>