<nav class="top-bar umi-top-bar" data-topbar data-options="is_hover: false">
    <section class="top-bar-section">

        <ul>
            <li>
                <a {{action 'targetBlank' '/'}} class="left-off-canvas-toggle">
                    Открыть сайт в новом окне
                </a>
            </li>

            <!--<li>-->
                <!--{{!view "notification"}}-->
            <!--</li>-->

            <li class="right has-dropdown umi-top-bar-user-menu">
                <a href="#">mail@yandex.ru</a>
                <ul class="dropdown umi-top-bar-user-menu-drop-down">
                    <li><a href="#">Сменить пароль</a></li>
                    <li><a href="#" {{action 'logout'}}>Выход из системы</a></li>
                </ul>
            </li>

            <li class="right">
                {{render "search"}}
            </li>
        </ul>

    </section>
</nav>