.umi-permissions{
    border: 1px solid #dee2e5;
    border-top-color: #eff1f3;
    .accordion{
        border-top: 1px solid #D5D5D5;
        .content{
            border-top: 1px solid #c2ced8;
            padding-left: rem-calc(58);
            &.active{
                background: #f0f7fc;
            }
        }
        dd{
            > a{
                background: #fff;
                padding: rem-calc(6)  rem-calc(10);
                font-size: rem-calc(13);
                font-weight: bold;
            }
        }
    }
    &-role{
        position: relative;
        .button{
            position: absolute;
            left: - rem-calc(24);
        }
        &-label{
            margin-left: 4px;
            display: inline-block;
        }
        &-list{
            margin-bottom: 0;
            &-item{
                margin-bottom: 10px;
            }
        }
    }
    &-component{
        display: none;
        margin: 10px 0 15px 27px;
        &.expand{
            display: block;
        }
        &-label{
            background: #E7F1F8;
            font-size: rem-calc(13);
            padding: 5px 10px;
        }
        &-list{
            margin-left: 24px;
        }
    }
}

.umi-accordion{
    margin: 0;
    font-size: rem-calc(13);
    list-style-type: none;
    span{
        display: block;
        height: 33px;
        line-height: 34px;
        padding: rem-calc(0 20);
        background: linear-gradient(to bottom, #EEEEEE 0%, #E0E4E7 100%);
        background: linear-gradient(top, #EEEEEE 0%, #E0E4E7 100%);
        border-bottom: 1px solid #98A2AB;
        cursor: pointer;
        &:hover{
            background: #EEEEEE;
            color: #000000;
        }
    }
    ul{
        margin: 0;
    }
}

.umi-accordion-trigger li{
    height: 24px;
    padding-left: 30px;
    font-size: 13px;
    display: none;
//    &:first-of-type{
//        padding-top: 10px;
//    }
//    &:last-of-type{
//        padding-bottom: 10px;
//    }
    a{
        text-decoration: none;
        color: #535E6D;
        &:hover{
            border-bottom: 1px solid #535E6D;
        }
    }
}

.umi-accordion-trigger.active li{
    display: block;
}