.umi-button-icon-24{
    float: left;
    width: 20px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    &:hover{
        background: #FFFFFF;
    }
    &:not(:hover){
        transition: 0.5s;
    }
}

.umi-button-icon-32{
    float: left;
    height: 20px;
    padding: 6px;
    cursor: pointer;
    color: #4C4C53;
    font-size: 13px;
    &.umi-disabled{
        opacity: .4;
        cursor: default;
    }

    &.umi-dark-bg:hover{
        background: #FFFFFF;
        &.umi-disabled{
            background: none;
        }
    }

    &.umi-light-bg:hover{
        background: #C8DEEE;
        &.umi-disabled{
            background: none;
        }
    }
}

@mixin button-bg-gradient($color-begin, $color-end) {
    background-image: linear-gradient(to bottom, $color-begin, $color-end);
    background-repeat: repeat-x;
    background-color: darken($color-end, 1%);
    transition: background-position 0.1s linear;
    &:hover, &:focus{
        background-position-y: - $button-med*1.2;
        background-color: darken($color-end, 1%);
    }
    &:focus{
        background-color: darken($color-end, 2%);
    }
}


.umi-button, button.umi-button{
    @include button-bg-gradient(nth($primary-gradient, 1), nth($primary-gradient, 2));

    position: relative;
    float: left;
    height: 31px;
    border-top: 1px solid #6BC2FF;
    @include button-bg-gradient(#3aadff, #0087d4);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    padding: 0 20px;
    line-height: 31px;
    cursor: pointer;

    &:hover{
        color: #FFFFFF;
    }
    &:focus{
        outline: none;
    }
    &.umi-disabled{
        opacity: .4;
        cursor: default;
    }

    &.secondary{
        @include button-bg-gradient(#FDFDFD, #F5F5F5);
    }
    &.success{
        @include button-bg-gradient($success-color, darken($success-color, 10%));
    }
    &.alert{
        @include button-bg-gradient($alert-color, darken($alert-color, 10%));
    }
    &.white{
        @include button($padding: $button-med, $bg: #FFF);
        @include button-bg-gradient(#FFF, #FFF);
    }
    &.flat{
        background: none;
        border-color: transparent;
        color: $button-font-color-alt;
    }
    &.wide{
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);
    }
    &.loading{
        animation: animate-bg-primary 2s linear infinite;
        position: relative;
        background-position-y: 0;
        transition: none;
        opacity: 1;
        &:before{
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            line-height: 16px;
            left: 10px;
            top: 50%;
            margin-top: -10px;
            background: url("img/animate/loader-20.gif") center center no-repeat;
        }
    }
}


.button, button{
//    border: 1px solid;
//    border-color: #4D9ED8;
    @include button-bg-gradient(#3aadff, #0087d4);
    vertical-align: top;
    &.secondary{
        border: 1px solid #A8ADB1;
        @include button-bg-gradient(#FDFDFD, #F5F5F5);
    }
    &.success{
        @include button-bg-gradient($success-color, darken($success-color, 10%));
    }
    &.alert{
        @include button-bg-gradient($alert-color, darken($alert-color, 10%));
    }
    &.white{
        @include button($padding: $button-med, $bg: #FFF);
        @include button-bg-gradient(#FFF, #FFF);
    }
    &.flat{
        background: none;
        border-color: transparent;
        color: $button-font-color-alt;
    }
    &.wide{
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);
    }
    &.square{
        padding-left: $button-med;
        padding-right: $button-med;
    }
    .icon{
        margin-top: -4px;
        margin-bottom: -3px;
    }
    &.tiny{
        .icon{
            // Костыль конечно
            margin-top: -6px;
            margin-bottom: -7px;
            margin-left: -4px;
            margin-right: -4px;
            display: block;
        }
        &.square{
            padding-left: $button-tny;
            padding-right: $button-tny;
        }
    }
    &.small{
        .icon{
            margin-top: -7px;
            margin-bottom: -6px;
        }
        &.square{
            padding-left: $button-tny;
            padding-right: $button-tny;
        }
    }
    .icon{
        vertical-align: middle;
    }
    &.loading{
        animation: animate-bg-primary 2s linear infinite;
        position: relative;
        background-position-y: 0;
        transition: none;
        opacity: 1;
        &:before{
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            line-height: 16px;
            left: 10px;
            top: 50%;
            margin-top: -10px;
            background: url("img/animate/loader-20.gif") center center no-repeat;
        }
    }
    &:focus{
        outline: none;
    }
    &.disabled{
        &:hover{
            background-position-y: 0;
        }
        background-position-y: 0;
    }
}

@keyframes animate-bg-primary{
    20%{
        background: darken($primary-color, 5%);
    }
    50%{
        background: darken($primary-color, 15%);
    }
    80%{
        background: darken($primary-color, 5%);
    }
}

// INCORRECT STYLE HERE
.umi-toolbar-create-text{
    float: left;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    padding: 0 10px 0 0;
    line-height: 31px;
}

.umi-toolbar-create-icon{
    padding: 0 2px;
    float: right;
    margin-right: -20px;
    height: 100%;
    border-left: 1px solid #297AD1;
}

.umi-toolbar-create-icon i{
    margin-top: 6px;
    margin-right: 1px;
}

.umi-toolbar-create-list{
    display: none;
    position: absolute;
    z-index: 20;
    float: left;
    min-width: calc(100% - 1px); /* Минимальная ширина соответствует ширине кнопки */
    top: 31px;
    left: 0;
    background: #FFFFFF;
    color: #535E6D;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    padding: 4px 0;
    box-shadow: 0 0 3px 0 #7C99AC;
}

.umi-toolbar-create-list span{
    display: block;
    width: calc(100% - 20px);
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    white-space: nowrap;
}

.umi-toolbar-create-list span:nth-of-type(even){
    background: #E8EDEF;
}

.umi-toolbar-create-list span:hover{
    background: #A4DCF7;
}