.qunit-container-button{
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    height: 23px;
    background: #008000;
    color: #FFFFFF;
    line-height: 23px;
    padding: 0 5px;
    font-size: 13px;
    border: 1px solid #2A9949;
}

.qunit-container{
    display: none;
    position: absolute;
    z-index: 100000;
    width: 100%;
    top: 24px;
    left: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.73);
}