::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    margin: 10px;
    background: #F5F6F7;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(123, 137, 156, 0.9);
    border: 4px solid #F5F6F7;
}

::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
    background: #F5F6F7;
}

::-webkit-scrollbar-corner{
    background: #F5F6F7;
}

// Объявнение переменной намеренно вынесено, для расчета высоты $umi-header-height
$umi-dock-height: 85px;

html{
    height: unquote(calc(100% + 1px)); //Костыль: по неясной причине, снизу экрана появляется полоска незанятого пикселя. Методом тыка найдено это решение
}

body{
    overflow: hidden;
    height: 100%;
    background: #f6f7f8;
    image-rendering: -webkit-optimize-contrast;
}

.no-csscalc{
    body::after{
        content: "Для работы Вам необходимо установить новую версию браузера";
        position: absolute;
        float: left;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 200px;
        text-align: center;
        background: rgba(255, 255, 255, 0.76);
        color: #000000;
    }
}




.umi-left-bottom-panel{
    position: absolute;
    z-index: 7000;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    &:before{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: unquote("calc(100% + 1px)");
        top: -3px;
//        bottom: 0;
        background: url(img/shadows/toTopShadow.png);
    }
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 100%;
        width: 3px;
        right: -3px;
        bottom: 0;
        background: url(img/shadows/toRightShadow.png);
    }
}


.umi-toolbar{
    position: relative;
    height: 32px;
    @include s-gradient-grey();
    border-bottom: 1px solid #98A2AB;
    .f-dropdown{
        width: 340px;
        left: 0;
        top: 100%;
    }
    .dropdown.open{
        + li{
            .button:before{
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 32px;
                background: url(img/shadows/toRightShadow.png);
            }
        }
    }
    .dropdown-rows{
        .row{
            padding: rem-calc(8) rem-calc(8);
            .button.tiny{
                margin-top: -2px;
                margin-bottom: -2px;
            }
        }
    }
    .columns.place-button{// Вот это не круто
        padding-left: rem-calc(28);
        position: relative;
        .button{
            position: absolute;
            left: 0;
        }
    }
    .s-scroll-wrap{
        max-height: 200px;
        height: auto;
        border: 1px solid #D1D1D1;
        margin:0 8px 8px;
        .row{
            &:nth-child(even){
                background: #EEF7FC;
            }
            &:hover{
                cursor: pointer;
                background: #C5E2F7;
            }
        }
    }
    .icons-group{
        margin-right: rem-calc(10);
        .icon{
            margin-left: rem-calc(5);
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .checkbox-group{
        .umi-checkbox-custom{
            margin-left: rem-calc(5);
            &:first-child{
                margin-left: 0;
            }
        }
    }
}


#component{
    position: relative;
    overflow: hidden;
}


$umi-header-height: $umi-dock-height + $topbar-height;
//TODO: Заменить на сумму высот(отступов) элементов Dock
.umi-header{
    height: auto; //TODO: Комментируем пока есть версии дока. $umi-dock-height;
    ~ .s-full-height{
        margin-top: -$umi-header-height;
        padding-top: $umi-header-height;
    }
    position: relative;
    //overflow: hidden;
}