::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    margin: 10px;
    background: #F5F6F7;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(123, 137, 156, 0.9);
    border: 4px solid #F5F6F7;
}

::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
    background: #F5F6F7;
}

::-webkit-scrollbar-corner{
    background: #F5F6F7;
}

// Объявнение переменной намеренно вынесено, для расчета высоты $umi-header-height
$umi-dock-height: 85px;

html{
    height: 100%;
}

body{
    overflow: hidden;
    height: 100%;
    background: #f6f7f8;
    image-rendering: -webkit-optimize-contrast;
}

.no-csscalc{
    body::after{
        content: "Для работы Вам необходимо установить новую версию браузера";
        position: absolute;
        float: left;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 200px;
        text-align: center;
        background: rgba(255, 255, 255, 0.76);
        color: #000000;
    }
}




.umi-left-bottom-panel{
    position: absolute;
    z-index: 7000;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    &:before{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: unquote("calc(100% + 1px)");
        top: -3px;
//        bottom: 0;
        background: url(img/shadows/toTopShadow.png);
    }
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 100%;
        width: 3px;
        right: -3px;
        bottom: 0;
        background: url(img/shadows/toRightShadow.png);
    }
}




.umi-divider-wripper{
    position: relative;
}

.umi-divider-left{
    float: left;
    position: relative;
    width: 250px;
    height: 100%;
    background: #D6E0E9;
    border-right: 1px solid #98A2AB;
}

.umi-left-bottom-panel a{
    float: left;
    display: block;
    padding: 6px;
    border-right: 1px solid #c0c2ca;
}

.umi-divider-left-content{
    overflow: hidden;
    height: 1000px;
    margin-right: 5px;
}

.umi-divider-left-float{
    border: none;
    z-index: 5000;
    position: absolute;
    width: 245px!important;

//    box-shadow: -10px 0px 40px 20px rgba(0, 0, 0, .75);

    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 100%;
        width: 3px;
        right: -3px;
        bottom: 0;
        background: url(img/shadows/toRightShadow.png);
    }
    .umi-divider-left-content{
        margin-right: 0;
    }
}

.umi-divider{
    position: absolute;
    width: 4px;
    height: unquote("calc(100% + 1px)");
    top: -1px;
    right: 0;
    background: #E0E4E7;
    border-left: 1px solid #ADB9C5;
    &:hover{
        cursor: e-resize;
    }
}

.umi-divider-right{
    float: left;
    width: 100%;
//    margin-left: 251px;
}












.umi-mode{
    overflow: hidden;
    height: 34px;

    @include s-gradient-grey();
    border-bottom: 1px solid #98A2AB;

    .left-off-canvas-toggle{
        display: block;
        padding: rem-calc(7 9);
    }

    h5{
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        font-size: rem-calc(14);
        line-height: rem-calc(28);
        margin-bottom: 0;
        color: #576680;
        margin-left: rem-calc(10);
        text-transform: uppercase;
        text-shadow: 0px 1px 1px #FFFFFF;
    }

    ul{
        margin-right: 20px;
    }

    .button{
        background: none;
        color: #aaadb4;
        font-size: rem-calc(13);
        margin: rem-calc(5 0 0);
        height: rem-calc(26);
        line-height: rem-calc(6);
        border: none;

        &.active{
            border-radius: 14px;
            background: linear-gradient(to bottom, #EEEEEE 0%, #EEEEEE 100%);
            background: linear-gradient(top, #EEEEEE 0%, #EEEEEE 100%);
            color: #6d7580;
            height: rem-calc(24);
            line-height: rem-calc(4);
            border: 1px solid rgb(192, 194, 202);
            box-shadow: inset 0 1px 17px -10px #000000, 0 1px 0px 0px #F5F5F5;
            padding: rem-calc(9 13);
            margin: rem-calc(5 2 0);
        }
    }
}

#component{
    position: relative;
    overflow: hidden;
}

$umi-header-height: $umi-dock-height + $topbar-height;
//TODO: Заменить на сумму высот(отступов) элементов Dock
.umi-header{
    height: auto; //TODO: Комментируем пока есть версии дока. $umi-dock-height;
    ~ .s-full-height{
        margin-top: -$umi-header-height;
        padding-top: $umi-header-height;
    }
    position: relative;
    //overflow: hidden;
}