.umi-top-bar{
    background: linear-gradient(to bottom, #3E4756 0%, #1C1F26 100%);
    background: linear-gradient(top, #3E4756 0%, #1C1F26 100%);
}

.top-bar-section > ul{
    > li{
        background: linear-gradient(to bottom, #3E4756 0%, #1C1F26 100%);
        background: linear-gradient(top, #3E4756 0%, #1C1F26 100%);
        margin: 0;
        height: 24px;
        a{
            background: linear-gradient(to bottom, #3E4756 0%, #1C1F26 100%) repeat scroll 0% 0% transparent;
            background: linear-gradient(top, #3E4756 0%, #1C1F26 100%);
            color: #D5D6D8 !important;
            font-weight: bold;
            line-height: rem-calc(22) !important;
            height: rem-calc(24);
        }
    }

    .dropdown{
        box-shadow: 0 0 3px 0 #000000;
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        background: #FFFFFF;
        li{
            background: #FFFFFF;
            &:nth-child(even){
                background: #E8EDEF;
            }
            a{
                padding: 0 10px!important;
                height: 28px!important;
                line-height: 28px!important;
                font-weight: normal;
                background: none;
                color: #535E6D!important;
                &:hover{
                    background: #A4DCF7;
                }
            }
        }
    }
}

.umi-search-result-wrapper{
    overflow: hidden;
    max-height: 400px;
}

ul.umi-search-result{
    background: #ffffff;
    float: left;
}

//.umi-top-bar-user-menu:hover .umi-top-bar-user-menu-drop-down{
//    display: block;
//}