.icon-bottom { background-image: url('png/bottom.png'); background-repeat: no-repeat; }

.icon-butterfly { background-image: url('png/butterfly.png'); background-repeat: no-repeat; }

.icon-checkbox-checked { background-image: url('png/checkbox-checked.png'); background-repeat: no-repeat; }

.icon-checkbox { background-image: url('png/checkbox.png'); background-repeat: no-repeat; }

.icon-icon_623 { background-image: url('png/icon_623.png'); background-repeat: no-repeat; }

.icon-left { background-image: url('png/left.png'); background-repeat: no-repeat; }

.icon-right { background-image: url('png/right.png'); background-repeat: no-repeat; }

.icon-top { background-image: url('png/top.png'); background-repeat: no-repeat; }

.icon-umi-butterfly { background-image: url('png/umi-butterfly.png'); background-repeat: no-repeat; }

