<div class="umi-element-left umi-element-left-text">

</div>

<div class="umi-element-center umi-element-center-text">
    {{view view.inputView}}
</div>

<div class="umi-element-right umi-element-right-text">

</div>