<div class="umi-element-left umi-element-left-time">

</div>

<div class="umi-element-center umi-element-center-time">
    {{input type="text" value=valueObject placeholder=meta.placeholder validator="collection"}}
</div>

<div class="umi-element-right umi-element-right-time">
    <i class="icon icon-delete"></i>
    <i class="icon icon-time"></i>
</div>


<style>
    .umi-time-picker{
        position: absolute;
        float: left;
        width: 200px;
        height: 200px;
        background: #FFFFFF;
    }
</style>