.umi-dock-module-blog { background-image: url('png/blog.png'); background-repeat: no-repeat; }

.umi-dock-module-files { background-image: url('png/files.png'); background-repeat: no-repeat; }

.umi-dock-module-models { background-image: url('png/models.png'); background-repeat: no-repeat; }

.umi-dock-module-news { background-image: url('png/news.png'); background-repeat: no-repeat; }

.umi-dock-module-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.umi-dock-module-seo { background-image: url('png/seo.png'); background-repeat: no-repeat; }

.umi-dock-module-service { background-image: url('png/service.png'); background-repeat: no-repeat; }

.umi-dock-module-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.umi-dock-module-statictics { background-image: url('png/statictics.png'); background-repeat: no-repeat; }

.umi-dock-module-structure { background-image: url('png/structure.png'); background-repeat: no-repeat; }

.umi-dock-module-users { background-image: url('png/users.png'); background-repeat: no-repeat; }

