<div class="umi-element-left umi-element-left-email">

</div>

<div class="umi-element-center umi-element-center-email">
    {{input type="email" value=valueObject placeholder=meta.placeholder validator="collection"}}
</div>

<div class="umi-element-right umi-element-right-email">
    <i class="icon icon-delete"></i>
</div>