# Для редиректа всех пользователей на домен С 'www.', раскомментируйте следующие инструкции:
# RewriteCond %{HTTP_HOST} .
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Для редиректа всех пользователей на домен БЕЗ 'www.', раскомментируйте следующие инструкции:
# RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]


# Start UMI.CMS settings
<IfModule mod_php5.c>
	php_flag engine off
</IfModule>

Options -Indexes
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send http auth headers for PHP
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    # Block access to .svn / .git
    RewriteRule "(^|/)\.(git|svn)" - [F]

    # Ignore static
    RewriteCond %{REQUEST_URI} !\.(html?|jpe?g|gif|png|bmp|swf|flv|ico|css|js|svg|mpe?g|mov|avi|wav|mp3|eot|ttf|woff)$
    # Pass all requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

</IfModule>

<FilesMatch "\.(php[2-5]?|cgi|pl|fcgi|fpl|phtm|phtml|shtml|asp|jsp|twig|tpl|xslt?)$">
    Deny from all
</FilesMatch>

<Files "index.php">
    <IfModule mod_php5.c>
    	php_flag engine on
    </IfModule>

    Allow from all
</Files>


# End UMI.CMS settings
