@import "../../settings";

.umi-overlay{
    position: absolute;
    z-index: 9000;
    width: 100%;
    height: 100%;
    top: 0;
}

.umi-overlay-white{
    position: absolute;
    z-index: 9000;
    background: #FFFFFF;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
}

.umi-blur{
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    filter: url($images-path + svg/elements/blur.svg#blur);
    filter: blur(4px);
}

.umi-popup-invisible-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.umi-popup-visible-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255,255,255,0.3);
}

.umi-popup{
    float: left;
    position: absolute;
    z-index: 10000;
    top: 200px;
    left: calc(50% - 250px);
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 #000000;
    padding-bottom: 35px;
}

.umi-popup-content{
    overflow: hidden;
    background: #F5F6F7;
    height: 100%;
    width: 100%;
    margin-top: 35px;
}

.umi-popup-header{
    float: left;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #DDE3E6;
}

.umi-popup-title{
    display: inline-block;
    line-height: 34px;
    font-weight: bold;
    padding-left: 8px;
    color: #575E6C;
    font-size: 13px;
}

.umi-popup-close-button{
    float: right;
    i{
        margin: 8px;
    }
}

.umi-popup-resizer{
    display: none;
    z-index: 100;
    position: absolute;
    float: left;
    bottom: 0;
    right: 0;
    cursor: se-resize;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #575e6c transparent;
}

.umi-table-control-column-list{
    border: 0;
    border-collapse: collapse;
}

.umi-table-control-column-list tr{
    height: 34px;
    cursor: pointer;
}

.umi-table-control-column-list td{
    padding: 0 10px;
}

.umi-table-control-column-list tr:nth-child(odd){
    background: #E9F1F7;
}

.umi-table-control-column-list-wrapper{
    position: relative;
    float: left;
    width: 100%;
    height: 290px;
    margin: 30px 0;
    overflow: hidden;
}

.umi-table-control-column-list-wrapper:before{
    content: "";
    position: absolute;
    float: left;
    z-index: 1;
    display: block;
    height: 3px;
    width: calc(100% + 1px);
    left: 0;
    top: 0;
    background: url($image-to-bottom-shadow);
}

.umi-table-control-column-list-wrapper:after{
    content: "";
    position: absolute;
    float: left;
    display: block;
    height: 3px;
    width: calc(100% + 1px);
    left: 0;
    bottom: 0;
    background: url($image-to-top-shadow);
}