<div class="umi-popup-header">
    <span class="umi-popup-title">{{view.title}}</span>
    <a href="#" class="umi-popup-close-button" {{action "closePopup" target="view"}}>
    <i class="icon white icon-close"></i>
    </a>
</div>
<div class="umi-popup-content">
    {{yield}}
</div>
<div class="umi-popup-resizer"></div>