<div class="umi-element-left umi-element-left-number">

</div>

<div class="umi-element-center umi-element-center-number">
    {{input type="text" value=valueObject placeholder=meta.placeholder validator="collection"}}
</div>

<div class="umi-element-right umi-element-right-number">
    <i class="icon icon-delete"></i>
</div>