{% if (tree) %}
    <ul class="bottomMenu">
        {% for node in tree %}
            <li>
                <a href="{{ node.item.getItemUrl() ?: '#' }}"
                    {{ node.item.getItemType() == 'externalItem' ? 'target="blank"' }}>
                    {{ node.item.displayName }}
                </a>
                {{ include('customMenu.twig', {'tree' : node.children}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
