<div class="table-header">
    <div class="table-row">
        <div class="table-cell left-fixed">
            <input type="checkbox" id="checkbox-id" class="s-margin-clear"/>
            <label for="checkbox-id"></label>
        </div>

        {{#each column in content.viewSettings.columns}}
            {{#view "tableCell" column=column}}
                <strong>{{column.title}}</strong>
                <div class="umi-table-column-resizer"></div>
            {{/view}}
        {{/each}}

        <div class="table-cell right-fixed">
            <a href="#">
                <i class="icon icon-settings"></i>
            </a>
        </div>
    </div>

    <div class="table-row bg-gray">
        <div class="table-cell left-fixed empty"></div>

        {{#each column in content.viewSettings.columns}}
            {{#view "tableCell" column=column}}
                <div class="table-cell-filter">
                    <div class="button flat tiny square right">
                        <i class="icon black icon-bottom-thin"></i>
                    </div>
                    <input type="text"/>
                </div>
                <div class="umi-table-column-resizer"></div>
            {{/view}}
        {{/each}}

        <div class="table-cell right-fixed empty"></div>
    </div>
</div>

<div class="table-content-wrapper">
    <div class="s-scroll-wrap">
        <div class="table-content">
            {{#each object in objects}}
                {{#link-to 'context' 'form' object.id class="table-row table-content-row" tagName="div"}}
                    {{#each column in content.viewSettings.columns}}
                        {{view "tableCellContent" objectBinding="object" column=column}}
                    {{/each}}
                {{/link-to}}
            {{else}}
                Нет записей
            {{/each}}
        </div>
        <!-- Отдельно добавим чекбоксы-->
        <div class="table-column-fixed-left">
            {{#each object in objects}}
            <div class="table-row">
                <div class="table-cell">
                    <input type="checkbox" id="checkbox-id" class="s-margin-clear"/>
                    <label for="checkbox-id"></label>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>

<div class="table-footer">
    <div class="right table-pagination">
        <span class="pagination-label">Строк на странице:</span>
        {{input type="text" value="100" class="s-margin-clear"}}
    </div>
</div>