<ul class="button-group right">
    {{#each mode in controller}}
        <li>
            <!--TODO Изменить срабатывание ссылки с click на mousedown (проблема в отключении стандартного события)-->
            <!--eventName="mouseDown"-->
            {{#link-to 'mode' mode.slug classNames="button"}}{{mode.title}}{{/link-to}}
        </li>
    {{/each}}
</ul>