<div class="umi-element-center umi-element-center-date">
    {{input type="text" class="umi-date" value=view.value}}
</div>

<div class="umi-element-right umi-element-right-date">
    <i class="icon icon-delete" {{action "clearValue" target="view"}}></i>
    <i class="icon icon-calendar"></i>
</div>