<div class="umi-element-left umi-element-left-datetime">

</div>

<div class="umi-element-center umi-element-center-datetime">
    {{view view.dateTimeView}}
</div>

<div class="umi-element-right umi-element-right-datetime">
    <i class="icon icon-date-time"></i>
</div>