<div class="umi-element-left umi-element-left-text">

</div>

<div class="umi-element-center umi-element-center-text">
    {{input type="text" value=valueObject placeholder=meta.placeholder validator="collection"}}
</div>

<div class="umi-element-right umi-element-right-text">
    <i class="icon icon-delete"></i>
</div>