<div class="umi-popup">
    <div class="umi-popup-header">
        <a href="#" class="umi-popup-close-button"><i class="icon icon-delete"></i></a>
    </div>
    <div class="umi-popup-content">
        {{render "tableControlColumnSelectorPopup"}}
    </div>
</div>