{% set formInfo = form(form) %}

<form {{ formInfo.attributes | raw }}>
    {% for elementInfo in formInfo.elements %}
        {{ include('form/element.twig', {'elementInfo' : elementInfo}) }}
    {% endfor %}
</form>
