{% set formInfo = form(form) %}

{% if (errors) %}
    <div class="alert alert-danger">
        <ul>
            {% for message in errors %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form {{ formInfo.attributes | raw }}>
    {% for elementInfo in formInfo.elements %}
        {{ include('form/element.twig', {'elementInfo' : elementInfo}) }}
    {% endfor %}
</form>
