<style>
    .umi-counter-info{
        height: 100%;
    }
</style>

<div class="umi-counter-info" style="background: #F5F6F7;">
    {{view "accordion" contentBinding="this"}}

    {{view 'chartControl' contentBinding="this"}}
</div>