<style>
    .umi-counter{
        height: 100%;
    }

    .umi-counter-header, .umi-counter-period, .umi-counter-content{
        float: left;
        padding: 20px 30px 0;
        width: calc(100% - 200px);
        box-sizing: border-box;
    }

    .umi-counter-date{
        float: left; margin-right: 30px;
    }

    .umi-counter-info{
        float: left;
        width: calc(100% - 200px);
        height: 100%;
    }
</style>


<div class="umi-counter" style="background: #F5F6F7;">
    {{view "accordion"}}

    <div class="umi-counter-info">
        <div class="umi-counter-period">

            <div class="umi-counter-date large-4 small-12">
                <div>
                    <span class="umi-form-label">Начало отчётного периода</span>
                </div>
                <div class="umi-input-wrapper-date">
                    <input type="text" class="umi-date umi-date-from" />
                    <i class="icon icon-calendar"></i>
                </div>
            </div>

            <div class="umi-counter-date large-4 small-12">
                <div>
                    <span class="umi-form-label">Конец отчётного периода</span>
                </div>
                <div class="umi-input-wrapper-date">
                    <input type="text" class="umi-date umi-date-to" />
                    <i class="icon icon-calendar"></i>
                </div>
            </div>

        </div>

        <div class="umi-counter-content">
            {{view 'chartControl'}}
        </div>

        <div class="umi-counter-content">
            {{view 'table'}}
        </div>
    </div>
</div>