<div class="umi-element-left umi-element-left-password">

</div>

<div class="umi-element-center umi-element-center-password">
    {{input type="password" value=valueObject placeholder=meta.placeholder validator="collection"}}
</div>

<div class="umi-element-right umi-element-right-password">
    <i class="icon icon-delete"></i>
</div>