
<p>{{ translate('Hello') }}, {{ user.displayName }}</p>

<p>
    {{ translate(
        'Your new password on the website {site}',
        {'site' : projectUrl})
     }}:
    <b> {{ password }}</b>
</p>

