<div class="umi-table-header-wrap">
    <table class="umi-table-header">
        <tbody>
        <tr class="umi-table-tr">
            {{#each view.headers}}
            <td class="umi-table-td" style="width: 200px;">
                <div class="umi-table-cell">{{this}}</div>
            </td>
            {{/each}}
            <td class="umi-table-empty-column"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="s-scroll-wrap">
    <table class="umi-table-content">
        <tbody>
            <tr class="umi-table-content-sizer">
                {{#each view.rowCount}}
                    <td class="umi-table-td" style="width: 200px;"></td>
                {{/each}}
            </tr>
            {{#each row in view.rows}}
                {{#view view.rowView row=row}}
                    {{#each property in view.cell}}
                        <td class="umi-table-td">
                            <div class="umi-table-cell">{{property.displayName}}</div>
                        </td>
                    {{/each}}
                    <td class="umi-table-empty-column"></td>
                {{/view}}
            {{else}}
                <tr class="umi-table-content-tr">
                    <td>
                        Нет записей
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>