$umi-dialog-z-index: 10000;

.umi-dialog{
    position: absolute;
    visibility: hidden;
    transition: visibility .3 linear;
    background: #FFF;
    width: 300px;
    top:50%;
    left: 50%;
    margin-left: -170px;
    padding: 15px;
    box-shadow: 0 0 3px 0 #000000;
    z-index: $umi-dialog-z-index;
    &.visible{
        visibility: visible;
    }
    .close{
        color: #333;
        position: absolute;
        right: 7px;
        top: 4px;
        font-size: rem-calc(18);
    }
    .button{
        margin-bottom: 0;
    }
    .umi-dialog-header{
        margin: 5px 0 20px;
    }
    .umi-dialog-content{
        margin-bottom: 20px;
    }
}