//TODO Вынести цвета в переменные

$umi-dock-z-index: 1;
$dock-img-padding: 11px;
$dock-z-index: 10;

.umi-dock{
    border-top: 1px solid #5c6472;
    padding: 0;
    height: $umi-dock-height - 1;
    .dock-wrapper{
        background-image: linear-gradient(#404959, #181b21);
        position: relative;
        z-index: 10;
    }
    .dock{
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 20%;
        white-space: nowrap;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0 40px;
        font-size: 0;
        z-index: 2;
        box-sizing: border-box;
        &.active{
            .umi-dock-button{
                opacity: 1
            }
        }
        &:hover, &.full{
            .dock-module{
                span{
                    top: 56px;
                    opacity: 1;
                }
            }
        }
        &.full{
            + .dock-buffer{
                display: block;
            }
        }
    }
    .umi-dock-button{
        display: inline-block;
        height: 100%;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        vertical-align: top;
        opacity: 0;
        transition: opacity 0.3s linear;
        .dock-module{
            display: block;
            font-size: 0;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            img{
                vertical-align: middle;
                width: auto;
                height: 30px;
                margin: 9px $dock-img-padding 9px;
            }
            span{
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                left: 0;
                top: 56px;
                opacity: 0;
                color: #afb2b7;
                font-size: 13px;
            }
        }
        &:hover{
            margin-top: -1px;
            border-top: 1px solid #6d7480;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            background-image: linear-gradient(#535c6a, #2b2d34);
            span{
                color: #FFF;
            }
        }
        &.active{
            position: relative;
            margin-top: -1px;
            border-top: 1px solid #3a404a;
            border-left: 1px solid #44474B;
            border-right: 1px solid #44474B;
            background-image: linear-gradient(#282e38, #101217);
            & + li:hover{
                border-left: 1px solid transparent;
            }
            &.favorites{
                img + img{
                    position: absolute;
                    display: none;
                    opacity: 0;
                    left: 0;
                    top: 0;
                }
            }
            &.disabled{
                opacity: 0.3;
            }
        }
    }
    .f-dropdown{
        padding: 0;
        li{
            padding: 0.5em 1em;
            > span{
                color: $body-font-color;
                white-space: normal;
            }
        }
    }
}

.dock-buffer{
    display: none;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 1;
    &.active{
        display: block;
    }
}

.dock-components{
    position: relative;
    background-color: #e7ebee;// Временный фикс для FF в OS X
    background: linear-gradient(top, #FFFFFF 0%, #E0E4E7 100%);
    border-bottom: 1px solid #98a0aa;
    text-align: center;
    height: rem-calc(35);
    .components-nav{
        display: none;
        &.active{
            display: inline-block;
        }
        a{
            height: rem-calc(35);
            line-height: rem-calc(35);
            vertical-align: middle;
            padding: 0 25px;
            color: #575e6c;
            display: block;
            float: left;
            font-weight: bold;
            text-size: 14px;
            cursor: default;
            text-decoration: none;
            font-size: 0.9em;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            &:hover{
                background: #d5dce2;
            }
            &.active{
                background: linear-gradient(top, $primary-color 0%, darken($primary-color, 10%) 100%);
                color: #FFF;
            }
        }
    }
}