//
// Custom dropdown
//

.dropdown-hover{
    .f-dropdown{
        max-width: none;
        top: auto;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;
        margin-top: 10px;
        &.right{
            right: 0;
        }
    }
    &:hover{
        > .f-dropdown{
            opacity: 1;
            visibility: visible;
            margin-top: 0;
        }
    }
}

// TODO: Костыль
.f-dropdown[data-align="right"]{
    margin-left: -170px;
    &:before{
        left: auto;
        right: 7px;
    }
    &:after{
        left: auto;
        right: 6px;
    }
}