//Задаём цвет плейсхолдерам

::-webkit-input-placeholder { /* WebKit browsers */
    color: #9BA7B3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9BA7B3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9BA7B3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #9BA7B3;
}

// checkboxes ----------------------------------------------

input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type="checkbox"] + label{
    padding-left: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background: url(../img/svg/checkbox.svg) left top no-repeat;
    vertical-align: middle;
    cursor:pointer;
}

input[type="checkbox"]:checked + label{
    background: url(../img/svg/checkbox-checked.svg) left top no-repeat;
}

label{
    margin: 0!important;
}