//TODO: Убрать этот недостойный код
/*.umi-component{
    background: #f6f7f8;
    > .columns{
        position: static;
    }
}*/

form{
    .input-icon{
        position: relative;
        top: em-calc(12);
        margin-left: em-calc(6);
        vertical-align: top;
        display: block;
        ~ input{
            padding-left: em-calc(32);
            margin-top: -15px;
            &.collapse{
                margin-bottom: 0;
            }
        }
    }
    input[type="checkbox"]{//Костыль: почему то в форме чекбокс не работает как надо
        display: inline-block;
        + label{
            display: none;
        }
    }
}

fieldset{
    border: none;
    border-top: 2px dotted #C0C8CF;
    padding: rem-calc(16 0 0);
    margin: rem-calc(10 25 0);
    position: relative;

    &:last-of-type{
        margin-bottom: rem-calc(25);
    }
}

.umi-form-control-fieldset-toggle{
    margin: -3px -21px;
    position: absolute;
    display: block;
}

.umi-form-control-content{
    padding-bottom: 30px;
}

legend{
    font-size: rem-calc(14);
    color: #575E6C;
    cursor: pointer;
}

label{
    font-size: rem-calc(13);
}

.umi-form-label{
    font-size: rem-calc(13);
    display: inline-block;
    margin-bottom: $form-label-bottom-margin;
}

select{
    border-radius: $input-border-radius;
    box-sizing: border-box;
    &:focus{
        box-shadow: 0 0 5px #999999;
        outline: none;
    }
    option{
        line-height: normal;
    }
}

.prefix,
.postfix{
    height: ($form-label-font-size + ($form-spacing * 1.35) - rem-calc(1));
    line-height: ($form-label-font-size + ($form-spacing * 1.35) - rem-calc(1));
}
//
// Error style
.umi-validator{
    span.error, small.error{
        position: absolute;
        z-index: 2;
        margin-top: 16px;
        border: 1px solid darken($alert-color, 10%);
        display: block;
        visibility: hidden; // только для того чтобы работала анимация
        transition: all 0.1s linear;
        opacity: 0.2;
        font-weight: normal;
        &:before, &:after{
            content: "";
            border: 8px solid transparent;
            border-bottom-color: darken($alert-color, 10%);
            top: -15px;
            left: 10px;
            position: absolute;
        }
        &:after{
            top: -11px;
            left: 12px;
            border-width: 6px;
            border-bottom-color: $alert-color;
        }
    }
    .error{
        span.error, small.error{
            margin-top: 8px;
            visibility: visible;
            opacity: 1;
        }
        .umi-form-label{
            @include form-label-error-color;
        }
    }
}

.umi-form-control{
    background: #f5f6f7;
}

// normal
.umi-form-control-buttons{
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 6px 1px #D1D1D1;
    > li > .button{
        margin-bottom: 0;
        border-color: rgba(141, 141, 141, 0.5);
        border-left-width: 1px;
        border-right: 0;
        &:last-child{
            border-right-width: 1px;
        }
    }
}

// Правый нижний блок кнопок ---------------------------------------------

.umi-dropdown-row .right div{
    float: left;
    padding: 9px 10px;
}

.umi-dropdown-row:nth-child(even){
    background: #EEF7FC;
}

.umi-dropdown-row-text{
    float: left;
    padding: 0 10px;
    line-height: 34px;
}

.umi-dropdown-row-right{
    float: right;
}

.umi-dropdown-row-right div{
    float: left;
    width: 34px;
}

.umi-form-tabs-content{
    margin-bottom: -1px;
}

.umi-form-tab-content{
    display: none;
    position: relative;
    float: left;
    width: 400px;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid #d8d5d6;
    box-shadow: 0 0 5px 1px #6d7580;
}

.umi-form-tab-content.active{
    display: block;
}

.umi-form-tabs{
    float: right;
    background: #FFFFFF;
    box-shadow: 0 0 2px 1px #8A8A8A;
}

.umi-form-save-button{
    float: left;
    height: 32px;
    padding: 0 30px;
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #1e73b3;
    background: linear-gradient(to bottom, #35a9fc 0%, #0f8bd5 50%);
    background: linear-gradient(top, #35a9fc 0%, #0f8bd5 50%);
    cursor: pointer;
}

.umi-form-tab{
    float: left;
    padding: 6px 8px;
    background: #FFFFFF;
    cursor: pointer;
}

.umi-form-tab.active{
    z-index: 2;
    position: relative;
    top: -2px;
    padding: 8px 8px 4px;
}

.umi-form-tab.active:before{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 100%;
    top: 2px;
    left: -6px;
    background: url(/resources/deploy/img/shadows/toLeftShadow.png);
}

.umi-form-tab.active:after{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 100%;
    top: 2px;
    right: -6px;
    background: url(/resources/deploy/img/shadows/toRightShadow.png);
}

.umi-form-tab-content{
    font-size: 13px;
}

.umi-form-tab-content input[type="text"]{
    margin: 10px;
    width: unquote("calc(100% - 20px)");
}

.umi-form-tab-content input[type="checkbox"]{
    width: 20px;
}

// ------------------- Custom inputs ---------------------------------------------

.umi-input-wrapper-date{
    position: relative;
    input{
        cursor: default !important;
    }
    .icon{
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

.umi-input-wrapper-number{
    position: relative;
    height: 32px;
    border-radius: 2px;
    font-size: 13px;
    background: #FFFFFF;
    border: 1px solid #d3d7da;
    padding-right: 30px;
    margin-right: 25px;
    max-width: 400px;
    i{
        position: absolute;
        top: 6px;
        right: 8px;
    }
}

//Хак для Firefox input file на один пискел выше
@-moz-document url-prefix() {
    .umi-input-wrapper-file input{
        position: relative;
        top: -1px;
    }
}

.umi-input-wrapper-file{
    position: relative;
    height: 32px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 32px;
    background: #FFFFFF;
    border: 1px solid #d3d7da;
    padding: 0 30px 0 5px;
    margin-right: 25px;
    margin-bottom: rem-calc(16);
    max-width: 400px;
    input{ //TODO Костыльные стили переопределить нормальным образом для foundation
        border: none!important;
        box-shadow: none!important;
        background: #FFFFFF!important;
        &:hover{
            border: none!important;
            box-shadow: none!important;
        }
        &:active{
            border: none!important;
            box-shadow: none!important;
            background: #FFFFFF!important;
        }
    }
    i{
        position: absolute;
        top: 6px;
        right: 8px;
    }
}

// umi-multi-select
.umi-multi-select{
    position: relative;
    .postfix{
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        background: transparent;
    }
    .selected-list{
        margin-bottom: $form-spacing / 2;
        .item{
            display: inline-block;
            padding: 5px 5px;
            background:#FCFCFC;
            font-size: $input-font-size;
            border: 1px solid #DFDFDF;
            margin-bottom: 4px;
        }
    }
    &.opened{
        .umi-multi-select-input{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            &:focus{
                background: #fff;
            }
        }
        .postfix{
            border-bottom-right-radius: 0;
        }
    }
}

.umi-multi-select-input{
    border-radius: $input-border-radius;
    @include form-element;
    margin-bottom: $form-spacing / 2;
    padding-right: 36px;
    position: relative;
    &:focus{
        ~ .postfix{
            border-left: 1px solid #E6E3E3;
        }
    }
}

.umi-multi-select-list{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #D5D2D2;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    font-size: $input-font-size;
    margin-top: -$form-spacing / 2 - rem-calc(1);
    z-index: $umi-multi-select-list-z-index;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 3px 6px 1px #DADADA;
    li{
        padding: rem-calc(5);
        &:hover, &.hover{
            background: $primary-color;
            color: #fff;
        }
    }
}