.magellan-menu{
    z-index: 10;
    background: #FFFFFF;
    //    border-bottom: 1px solid #BFC4C8;
    box-sizing: border-box;
    &::after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: unquote("calc(100% + 1px)");
        left: 0;
        bottom: -3px;
        background: url(../img/shadows/toBottomShadow.png);
    }
    a{
        position: relative;
        padding: rem-calc(0 18);
        border-right: 1px solid #BFC4C8;
        display: block;
        height: 100%;
        float: left;
        line-height: 33px;
        font-size: 13px;
        font-weight: bold;
        color: #BABABB;
        &:hover, &.focus{
            &:before, &:after{
                content: "";
                position: absolute;
                z-index: 20;
                display: block;
                left: 50%;
                margin-left: -8px;
                top: 100%;
                border: 8px solid transparent;
                border-top-color: #BFC4C8;
            }
            &:after{
                margin-left: -6px;
                border-top-color: #FFF;
                border-width: 6px;
            }
        }
        &.focus{
            color: #575E6C;
            &:before{
                border-top-color: #BFC4C8;
            }
            &:after{
                border-top-color: #F7F7F7;
            }
        }
    }
}

.magellan-menu-holder{
    height: 34px;
}