.umi-search-component{
    position: relative;
    padding: 0 20px;
    form{
        position: relative;
        z-index: 21;
        float: left;
        i{
            float: right;
            top: -17px;
            right: 7px;
        }
    }
}

input[type="text"].umi-search-input{
    background: #4E5461;
    width: 200px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
    height: 18px;
    border: 0px solid rgba(0,0,0,0);
    line-height: 15px;
    top: 3px;
    animation: none;
    transition: none;
    color: #D5D6D8;
    box-shadow: inset 0 1px 17px -3px #000000;
}

input[type="text"].umi-search-input.active{
    background: #FFFFFF;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d7da;
    color: #535E6D;
    padding: 0 9px;
}

.umi-search-drop-down{
    display: none;
    position: absolute;
    z-index: 20;
    padding: 30px 0 10px;
    margin-left: -10px;
    width: 220px;
    background: #ffffff;
    box-shadow: 0 0 3px 0 #000000;
}

.umi-search-result li{
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 11px;
}

.umi-search-result li:not(.umi-search-empty):hover{
    background: #F5F6F7;
    cursor: pointer;
}