// 
// FOUNDATION SETTINGS
//

// Global
$experimental: true;
$rem-base: 16px;
$base-font-size: 100%;
$body-font-color: #535E6D;
$primary-color: #259cec;
$secondary-color: #F5F5F5;
$alert-color: #b94a48;

$primary-gradient: #3aadff, #0087d4;
//На макетах везде шрифт Segoe UI,
//но на кнопках в браузере он выглядит отвратно,
// поэтому им дан Open Sans
$body-font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
//$header-font-family: join("Open Sans", $body-font-family);
$button-font-family: Arial;

// Grid
$row-width: 100%;

// Typography
$subheader-font-color: #333;
$subheader-font-weight: 500;

// Button
$button-tny: rem-calc(5);
// 24px
$button-sml: rem-calc(6);
// нет на макете
$button-med: rem-calc(7);
// 32px
$button-lrg: rem-calc(9);
// 37px
$button-font-tny: rem-calc(9);
$button-font-sml: rem-calc(11);
$button-font-med: rem-calc(13);
$button-font-lrg: rem-calc(13);

$button-font-weight: bold;
$button-border-width: 1px;

// Dropdown buttons
$button-pip-med: rem-calc(8);

$dropdown-button-padding-med: $button-pip-med * 3 + rem-calc(3);
$dropdown-button-pip-size-med: 4px;
$dropdown-button-pip-opposite-med: $button-pip-med * 1.5;

// Off Canvas Menu Variables
$off-canvas-bg: #D6E0E9;

// Off Canvas Menu Icon Variables
$tabbar-menu-icon-color: #333333;

// Off Canvas Back-Link Overlay
$off-canvas-overlay-box-shadow: none;
// Transition Variables
$menu-slide: none;

//
// TOP BAR
//
$topbar-bg: linear-gradient(top, #3E4756 0%, #1C1F26 100%);
// Height and margin
$topbar-height: 24px;

//
// Forms
//
$form-spacing: rem-calc(13);
$form-label-font-color: #787b84;
$form-label-font-size: rem-calc(13);

$fieldset-border-style: dashed;
$fieldset-border-width: 2px;
$fieldset-border-color: #c2c7cd;

$legend-bg: none;
$legend-font-weight: bold;
$legend-padding: rem-calc(0 3);

$input-font-size: rem-calc(13);
$input-border-radius: 3px;
$input-border-color: #d3d7da;
$input-focus-border-color: scale-color(#fff, $lightness: -25%);

$glowing-effect-color: #d6d6d6;

$select-bg-color: #fff;

$input-error-message-padding: rem-calc(6 9 9);
$input-error-message-top: -1px;
$input-error-message-font-size: rem-calc(12);
$input-error-message-font-weight: bold;
$input-error-message-font-style: normal;
$input-error-message-font-color: #fff;
$input-error-message-font-color-alt: #333;

$umi-multi-select-list-z-index: 100;
//
// Reveal
//

$reveal-overlay-bg: rgba(#4a4a4a, .45);

//
// Tables
//

// These control the background color for the table and even rows
$table-bg: #f6f7f8;
$table-even-row-bg: #E8F0F6;

// These control the table cell border style
//$table-border-style: solid;
$table-border-size: 0;
//$table-border-color: #E2E3E4;

// These control the table head styles
$table-head-bg: #ffffff;
$table-head-font-size: rem-calc(13);
$table-head-font-color: #575E6C;
$table-head-font-weight: bold;
//$table-head-padding: rem-calc(10);

// These control the row padding and font styles
$table-row-padding: rem-calc(8 10);
$table-row-font-size: rem-calc(13);
//$table-row-font-color: #222;
//$table-line-height: rem-calc(18);

// These are for controlling the display and margin of tables
//$table-display: table-cell;
//$table-margin-bottom: rem-calc(20);


//
// Alert box
//
$alert-font-color: #000;
$alert-font-color-alt: #000;
$alert-padding-top: rem-calc(8);
$alert-padding-bottom: rem-calc(8);
$alert-close-top: rem-calc(20);
$alert-close-opacity: 1;
$alert-close-opacity-hover: 0.8;
$alert-close-color: darken($primary-color, 30%);
