.s-margin-clear {
    margin: 0 !important;
}

.s-padding-clear {
    padding: 0 !important;
}

.s-scroll-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.s-unselectable {
    //Запрет выделения элементов
    touch-callout: none !important;
    user-drag: none !important;
    tap-hightlight-color: rgba(0, 0, 0, 0) !important;
    user-select: none !important;
}

// Высота 100%
$s-full-height-before-height: 34px;

.s-full-height {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.row.s-full-height {
    > .columns {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.s-full-height-before {
    height: $s-full-height-before-height;
    position: relative;
    ~ .s-full-height {
        z-index: 1;
        position: relative;
        margin-top: -$s-full-height-before-height;
        padding-top: $s-full-height-before-height;
    }
}

.s-blur {
    -webkit-filter: blur(4px);
}

@mixin s-gradient-grey {
    background: linear-gradient(to bottom, #EEEEEE 0%, #E0E4E7 100%);
    background: linear-gradient(top, #EEEEEE 0%, #E0E4E7 100%); //#d6e0e9
}

.s-gradient-grey {
    @include s-gradient-grey();
}

// Положу здесь, просто потому что больше некуда
// TODO Хоть комментарий напиши - что это?
.has-version {
    position: relative;
    .version-list {
        position: absolute;
        display: none;
        right: 0;
        bottom: -24px;
        z-index: 100;
        .button {
            margin-bottom: 0;
        }
    }
}

.show-all-version {
    .has-version {
        box-shadow: 0 1px 16px 1px #808080;
    }
    .version-list {
        display: block;
        box-shadow: 0 1px 4px 1px #808080;
        .button {
            float: left;
        }
    }
}