.umi-table-ajax{
    font-size: rem-calc(13);
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #D6E0E9;
    box-sizing: border-box;

    thead{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            float: left;
            display: block;
            height: 3px;
            width: 100%;
            left: 0;
            top: 33px;
            background: url(img/shadows/toBottomShadow.png);
        }
    }
}

.umi-table-ajax-control-header{
    position: relative;
    z-index: 10;
}

.umi-table-ajax-control-header-center{
    position: absolute;
}

.umi-table-ajax-control-content{
    position: relative;
    height: 100%;
}

.umi-table-ajax-control-content-center{
    position: absolute;
    height: unquote("calc(100% - 102px)");
    top: 0;
    bottom: rem-calc(34);
}

.umi-table-ajax-control-footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 20;
    height: rem-calc(34);
    background: #FFFFFF;
    &:after{
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        top: -3px;
        background: url(img/shadows/toTopShadow.png);
    }
    .left{
        i{
            margin-top: rem-calc(6);
            margin-left: rem-calc(6);
            line-height: rem-calc(22);
        }
        a{
            line-height: rem-calc(32);
        }
    }
    .right{
        padding: rem-calc(5 10);
        line-height: rem-calc(22);
        input{
            padding: 0;
            height: rem-calc(22);
        }
    }
}

.umi-table-ajax-header{
    table-layout: fixed;
    border: 0;
    border-collapse: collapse;
}

.umi-table-ajax-header-div{
    border-left: 1px solid #E2E3E4;
}

.umi-table-ajax-titles{
    width: 100%;
    font-weight: bold;
    color: #575E6C;
    background: #FFFFFF;
}

.umi-table-ajax-column-resizer{
    position: absolute;
    float: left;
    z-index: 100;
    width: 7px;
    height: 69px;
    top: 0;
    right: -4px;
    border: 0;
}

.umi-table-ajax-column-resizer:hover{
    background: #444444;
}

.umi-table-ajax-title-div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: rem-calc(33);
    line-height: rem-calc(33);
    padding: rem-calc(0 10);
    border-left: 1px solid #E3E4E5;
}

.umi-table-ajax-control-empty{
    position: relative;
    height: 33px;
}

.umi-table-ajax-control-empty:after {
    content: "";
    position: absolute;
    float: left;
    display: block;
    height: 3px;
    width: unquote("calc(100% + 1px)");
    left: 0;
    bottom: -3px;
    background: url(img/shadows/toBottomShadow.png);
}

.umi-table-ajax-header-column{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: rem-calc(22);
}

.umi-table-ajax-header-column-fixed{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: rem-calc(22);
    border-bottom: 1px solid #E2E3E4;
    border-left: 1px solid #E3E4E5;
}

.umi-table-ajax-content{
    float: left;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0;
    background: #F5F6F7;
}

.umi-table-ajax-tr{
    height: rem-calc(32);
    &:nth-child(odd){
        background: #E9F1F7;
    }
    &.checked{
        color: #FFFFFF;
        background: #8B95A5;
    }
    &:last-of-type{
        td{
            border-bottom: 1px solid #A7B9C5;
        }
    }
}

.umi-table-ajax-cell-div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: rem-calc(34);
    border-left: 1px solid #E3E4E5;
    padding: 0 10px;
}

.umi-table-ajax-empty-header-column{
    float: none!important;
    width: 100%;
    right: 0;
    border-left: 1px solid #E3E4E5;
    border-bottom: 1px solid #E2E3E4;
}

.umi-table-ajax-empty-column{
    float: none;
    width: 100%;
    right: 0;
    border-left: 1px solid #E3E4E5;
}

.umi-table-ajax-empty-result{
    padding: 20px;
    background: #D6E0E9;
}
