.umi-table-control{
    font-size: rem-calc(13);
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #D6E0E9;
    //	border: 1px solid #E2E3E4;
    box-sizing: border-box;
}

.umi-table-control-header{
    position: relative;
    z-index: 10;
}

    .umi-table-control-header-left{
        position: absolute;
        z-index: 2;
        border: 0;
    }

    .umi-table-control-header-center{
        position: absolute;
        left: rem-calc(34);
        right: rem-calc(34);
        //	right: rem-calc(32);
    }

    .umi-table-control-header-right{
        position: absolute;
        right: 0;
        z-index: 2;
        border: 0;
    }

.umi-table-control-content{
    position: relative;
    top: rem-calc(68);
    height: 100%;
}

    .umi-table-control-content-left{
        position: absolute;
        z-index: 9;
        //	width: rem-calc(132);
        top: 0;
        //    &:after{
        //        content: "";
        //        position: absolute;
        //        float: left;
        //        display: block;
        //        height: 100%;
        //        width: 6px;
        //        top: 0;
        //        right: -6px;
        //        background: url(img/shadows/toRightShadow.png);
        //    }
    }


    .umi-table-control-content-center{
        position: absolute;
        height: unquote("calc(100% - 102px)");
        top: 0;
        bottom: rem-calc(34);
        left: rem-calc(34);
        right: rem-calc(34);
    }

    .umi-table-control-content-right{
        position: absolute;
        z-index: 9;
        width: rem-calc(34);
        top: 0;
        bottom: rem-calc(100);
        right: 0;
    }

.umi-table-control-footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 20;

    //	position: relative;
    //	z-index: 100;
    height: rem-calc(34);
    //	top: rem-calc(-34);
    //	bottom: 0;
    background: #FFFFFF;
    //	border-top: 1px solid #F0F2F4;
    &:after{
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        top: -3px;
        background: url(img/shadows/toTopShadow.png);
    }
    .left{
        i{
            margin-top: rem-calc(6);
            margin-left: rem-calc(6);
            line-height: rem-calc(22);
        }
        a{
            line-height: rem-calc(32);
        }
    }
    .right{
        padding: rem-calc(5 10);
        line-height: rem-calc(22);
        input{
            padding: 0;
            height: rem-calc(22);
        }
    }
}

.umi-table-header{
    table-layout: fixed;
    border: 0;
    border-collapse: collapse;
}

    .umi-table-header-left{
        table-layout: fixed;
        border-collapse: collapse;
        border: 0;
        border-right: 1px solid #E2E3E4;
    }

    .umi-table-header-right{
        table-layout: fixed;
        border-collapse: collapse;
        border: 0;
        border-left: 1px solid #E2E3E4;
    }

.umi-table-header-div{
    border-left: 1px solid #E2E3E4;
}

.umi-table-titles{
    width: 100%;
    height: rem-calc(34);
    font-weight: bold;
    color: #575E6C;
    background: #FFFFFF;
}

.umi-table-column-resizer{
    position: absolute;
    float: left;
    z-index: 100;
    width: 7px;
    height: 69px;
    top: 0;
    right: -4px;
    border: 0;
    cursor: e-resize;
}

.umi-table-column-resizer:hover{
    background: #444444;
}

.umi-table-filters{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: rem-calc(34);
    background: #F5F6F7;
}

.umi-table-title-div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: rem-calc(34);
    line-height: rem-calc(34);
    padding: rem-calc(0 10);
    border-left: 1px solid #E3E4E5;
}

.umi-table-filter-column{
    padding: 0;
//    border-bottom: 1px solid #E3E4E5;
    border-left: 1px solid #E3E4E5;
}

.umi-table-control-empty{
    position: relative;
    height: 33px;
}

.umi-table-control-empty:after {
    content: "";
    position: absolute;
    float: left;
    display: block;
    height: 3px;
    width: unquote("calc(100% + 1px)");
    left: 0;
    bottom: -3px;
    background: url(img/shadows/toBottomShadow.png);
}

.umi-table-filter-div{
    //	overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: rem-calc(21);
    padding: rem-calc(6 10);
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: unquote("calc(100% + 1px)");
        left: 0;
        bottom: -3px;
        background: url(img/shadows/toBottomShadow.png);
    }
}

.umi-table-filter-button{
    float: left;
    cursor: pointer;
}

.umi-table-filter-button-left{
    margin-left: -5px;
    margin-right: 5px;
}

.umi-table-filter-button-right{
    float: right;
    margin-right: -5px;
}

.umi-table-filter-input{
    float: left;
    width: unquote("calc(100% - 20px)");
    input{
        height: 21px !important;
    }
}

.umi-table-header-column{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: rem-calc(22);
    border-bottom: 1px solid #E2E3E4;
    cursor: move;
}

.umi-table-header-column-fixed{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: rem-calc(22);
    border-bottom: 1px solid #E2E3E4;
    border-left: 1px solid #E3E4E5;
    cursor: default;
}

.umi-table-left{
    border: 0;
    border-collapse: collapse;
    border-right: 1px solid #E2E3E4;
    width: rem-calc(35);
    background: #F5F6F7;
}

.umi-table-left-div{
    padding: rem-calc(6 2 6 6);
}

.umi-table-header-left-title{
    //	width: 100%;
    //	height: rem-calc(34);
    //	font-weight: bold;
    //	color: #575E6C;
    background: #FFFFFF;
    border-bottom: 1px solid #E3E4E5;
}

.umi-table-header-left-filter{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: rem-calc(34);
    background: #F5F6F7;
//    border-bottom: 1px solid #E3E4E5;
}

.umi-table-header-column-left{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: 1.375rem;
//    border-bottom: 1px solid #E2E3E4;
}

.umi-table-title-column-left{
    padding: 0;
}

.umi-table-filter-column-left{
    padding: 0;
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: 100%;
        background: url(img/shadows/toBottomShadow.png);
    }
}

.umi-table-title-div-left{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: rem-calc(4 2 7 7);
    border-left: 1px solid #E3E4E5;
}

.umi-table-filter-div-left{
    height: rem-calc(33);
    line-height: rem-calc(33);
    border-left: 1px solid #E3E4E5;
    padding: rem-calc(0 10);
}

.umi-table-right{
    border: 0;
    border-collapse: collapse;
    border-right: 1px solid #E2E3E4;
    width: rem-calc(35);
    background: #F5F6F7;
    border-left: 1px solid #E2E3E4;
}

.umi-table-right-div{
    line-height: rem-calc(32);
    padding-left: rem-calc(5);
    .icon-delete{
        margin: rem-calc(6 0 0 0);
    }
}

.umi-table-header-right-title{
    //	width: 100%;
    //	height: rem-calc(34);
    //	font-weight: bold;
    //	color: #575E6C;
    background: #FFFFFF;
    border-bottom: 1px solid #E3E4E5;
}

.umi-table-header-right-filter{
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: rem-calc(34);
    background: #F5F6F7;
    border-bottom: 1px solid #E3E4E5;
}

.umi-table-header-column-right{
    table-layout: fixed;
    position: relative;
    padding: 0;
    line-height: 1.375rem;
    border-bottom: 1px solid #E2E3E4;
}

.umi-table-title-div-right{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: rem-calc(27);
    height: rem-calc(27);
    padding: rem-calc(7 0 0 6);
}

.umi-table-filter-div-right{
    height: rem-calc(33);
    line-height: rem-calc(33);
    padding: rem-calc(0 10);
}

.umi-table-title-column-right{
    padding: 0;
}

.umi-table-filter-column-right{
    padding: 0;
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: 100%;
        background: url(img/shadows/toBottomShadow.png);
    }
}

.umi-table{
    float: left;
    border-collapse: collapse;
    table-layout: fixed;
    border: 0;
    background: #F5F6F7;
}

.umi-table-tr{
    height: rem-calc(32);
    cursor: pointer;
    &:nth-child(odd){
        background: #E9F1F7;
    }
    &.checked{
        color: #FFFFFF;
        background: #8B95A5;
    }
    &:last-of-type{
        td{
            border-bottom: 1px solid #A7B9C5;
        }
    }
}

.umi-table-cell-div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    //	width: 100%;
    line-height: rem-calc(34);
    border-left: 1px solid #E3E4E5;
    padding: 0 10px;
}

//    .umi-table-cell-div{
//        input{
//            margin-top: 2px;
//            margin-bottom: 2px;
//            width: 180px;
//            display: none;
//            &.edit{
//                display: inline-block;
//            }
//        }
//        .icon-inside-hover{
//            position: relative;
//            .icon{
//                background-color: #F7F7F7;
//                padding: 1px;
//                position: absolute;
//                right: -10px;
//                top: 6px;
//                display: none;
//                box-shadow: -1px 0 1px 2px #D3D3D3;
//            }
//            &:hover{
//                .icon{
//                    display: inline-block;
//                }
//            }
//        }
//    }


.umi-table-empty-header-column{
    float: none;
    width: 100%;
    right: 0;
    border-left: 1px solid #E3E4E5;
    border-bottom: 1px solid #E2E3E4;
}

.umi-table-empty-filter-column{
    float: none;
    width: 100%;
    right: 0;
    border-left: 1px solid #E3E4E5;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        float: left;
        display: block;
        height: 3px;
        width: unquote("calc(100% + 1px)");
        left: 0;
        bottom: -3px;
        background: url(img/shadows/toBottomShadow.png);
    }
}

.umi-table-empty-column{
    float: none;
    width: 100%;
    right: 0;
    border-left: 1px solid #E3E4E5;
}

.umi-table-empty-result{
    padding: 20px;
    background: #D6E0E9;
}

.ghost{
    //	transform: translateZ(0);
    border-collapse: collapse;
    font-size: rem-calc(13);
    overflow: hidden;
    float: left;
    position: absolute;
    z-index: 100;
    background: #FFFFFF;
    border: 1px solid #9DA6AF;
}

.ghost-tr{
    &:nth-child(odd){
        background: #E9F1F7;
    }
}

.ghost-div{
    padding: rem-calc(8 10);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.umi-table-ghost-header{
    table-layout: fixed;
    border: 0;
    border-collapse: collapse;
    color: #575E6C;
    font-weight: bold;
    z-index: 101;
    tr:last-of-type{
        background: #F5F6F7;
        border-top: 1px solid #E2E3E4;
        border-bottom: 1px solid #E2E3E4;
        &:after{
            content: "";
            position: absolute;
            float: left;
            display: block;
            height: 3px;
            width: unquote("calc(100% + 1px)");
            left: 0;
            bottom: -3px;
            background: url(img/shadows/toBottomShadow.png);
        }
    }
    .umi-table-title-div{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: rem-calc(32);
        line-height: rem-calc(32);
        padding: rem-calc(0 10);
        border: 0;
    }
    .umi-table-filter-div{
        //		overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: rem-calc(21);
        border: 0;
        padding: rem-calc(5 10);
    }
}

.umi-table-ghost-content{
    table-layout: fixed;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    color: #575E6C;
}

.tableGhost{
    //	transform: translateZ(0);
    position: relative; //TODO Под вопросом
    z-index: 10; //TODO Под вопросом
    background: #D6E0E9;
    border-left: 1px solid #ADB9C5 !important;
    border-right: 1px solid #ADB9C5 !important;
    border-top: 0;
    border-bottom: 0;
}