.umi-top-bar{
	background: linear-gradient(to bottom, #3E4756 0%, #1C1F26 100%);
	background: linear-gradient(top, #3E4756 0%, #1C1F26 100%);
	//TODO Проверить наличие переменных в _settings
		li{
			a{
				color: #D5D6D8!important;
				font-weight: bold!important;
				line-height: rem-calc(22)!important;
				height: rem-calc(24);
				border-bottom: 1px solid #000000;
			}
		}

	border-bottom: 1px solid #000000;
}
.top-bar-section ul li > a{
	width: auto;
}
