$umi-hover-background: #A4DCF7;
$umi-font-color: #535E6D;
$umi-dark-border-color: #CCD9E2;

body{
    color: #535E6D!important;
}

.umi-tree{
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid #CCD9E2;
    margin-left: rem-calc(5);
    margin-top: rem-calc(8);
    font-size: rem-calc(13);

    ul.f-dropdown {
        padding-left: 0;
    }

    ul{
        margin: 0;
        list-style: none;
        font-size: rem-calc(13);
        padding-left: rem-calc(20);
    }

    li{
        line-height: rem-calc(24);
        a{
            color: $umi-font-color;
            &.active {
                color: $primary-color;
            }
        }
    }
    span{
        width: rem-calc(20);
        height: rem-calc(20);
    }

    .umi-item{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
        margin-right: 20px;
        white-space: nowrap;
        &.active{
            background: linear-gradient(to bottom, #35a9fc 0%, #0f8bd5 100%);
            background: linear-gradient(top, #35a9fc 0%, #0f8bd5 100%);
            margin-left: -10000px;
            padding-left: 10020px;
            margin-right: -1px;
            padding-right: 10px;
            color: #FFFFFF;
            a{
                color: #FFFFFF;
                border-bottom: none!important;
            }
        }
        &:hover{
            a{
                text-decoration: none;
                border-bottom: 1px solid $umi-font-color;
            }
        }
    }

    .umi-tree-type-icon{
        margin: rem-calc(2 0 0 -2);
        cursor: move !important;
    }


    .umi-expand{
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(20);
        cursor: hand;
        position: absolute;
        margin-left: rem-calc(-20);
        margin-top: rem-calc(2);
    }

    .umi-tree-placeholder{
        height: rem-calc(24);
        background: #C4D2DD;
        border-radius: rem-calc(12);
        margin-left: 15px;
        transition: background 0.2s linear;
        &:hover, &:focus {
            background: darken(#C4D2DD, 3%);
        }
    }

    .umi-tree-expand{
        > div a {
            text-decoration: underline;
        }
    }

    &.drag-inside{
        a, .icon, .move{
            cursor: default;
        }
    }



    // Выпадающее меню --------------------------------------
    .umi-tree-context-menu{
        position: absolute;
        right: rem-calc(8);
        margin: 0;
        padding: 0;
        margin-top: -24px;
    }
}

.umi-tree-ghost{
    height: rem-calc(24);
    color: #000000;
    border: none;
    line-height: rem-calc(24);
    font-size: rem-calc(13);
    display: inline-block;
    cursor: default;
    position: absolute;
    z-index: 100;
    i{
        margin: rem-calc(2 -2 2 0);
    }
}

// Вот тут говнокод
.umi-tree-header{
    @include s-gradient-grey;
    border-bottom: 1px solid #98A2AB;
    .f-dropdown {
        input {
            display: block;
            margin-bottom: 0;
            float: left;
            margin-top: rem-calc(5);
        }
        label {
            margin-bottom: 0;
        }
        li {
            border-bottom: 1px solid #98A2AB;
            padding: rem-calc(5 8);
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background: #FFF;
            }
            .title {
                display: block;
                margin-left: rem-calc(20);
                line-height: normal;
            }
            div {
                margin-bottom: rem-calc(5);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}




//tree li --------------------------------------------------------

.umi-tree-drop-down-toggler a{
    position: relative;
    display: block;
}

.umi-tree-drop-down{
    position: absolute;
    z-index: 1;
    float: left;
    width: 160px;
    background: #FFFFFF;
    box-shadow: 0 0px 2px 0px #7C99AC;
}

.umi-tree-drop-down-show-button{
    box-shadow: 0 0px 2px 0px #7C99AC;
    position: absolute;
    top: -26px;
    right: 0;
    padding: 2px 2px 0;
    border-bottom: none;
    background: #FFFFFF;
}

.umi-tree-drop-down-shadow-hide{
    background: #FFFFFF;
    width: 24px;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: -3px;
}

.umi-tree-tabs-content {
    position: relative;
    float: left;
    width: 160px;
    padding-bottom: 4px;
    color: $umi-font-color;
}

.umi-tree-tab-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.umi-tree-tab-content li {
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}

.umi-tree-tab-content li:nth-child(even) {
    background: #E8EDEF;
}

.umi-tree-tab-content li:hover {
    background: $umi-hover-background;
}

.umi-tree-tab-content {
    display: none;
    position: relative;
    float: left;
    width: 160px;
    height: 84px;
    &.active {
        display: block;
        height: 100%;
    }
    ul{
        font-size: 13px;
    }
}

.umi-tree-tabs{
    width: 160px;
    height: 35px;
}

.umi-tree-tab {
    position: relative;
    float: left;
    padding: 6px 6px 0;
    cursor: pointer;
}

.umi-tree-tab:after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 3px;
    top: 28px;
    left: 0;
    background: url(img/shadows/toTopShadow.png);
}

.umi-tree-tab.active {
    margin-top: -1px;
    padding: 6px 6px 0;
    border-top: 1px solid #BEC9D0;
}

.umi-tree-tab.active:before {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 32px;
    top: -1px;
    left: -2px;
    background: url(img/shadows/toLeftShadow.png);
}

.umi-tree-tab:first-of-type.active:before {
    display: none;
}

.umi-tree-tab.active:after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 32px;
    top: -1px;
    left: auto;
    right: -2px;
    background: url(img/shadows/toRightShadow.png);
}

.umi-tree-tab:last-of-type.active:after {
    display: none;
}