{% macro test(repeat) %}

    {% import _self as testMacro %}

    {% block start_test %}
        <p>test</p>
    {% endblock %}

    {% if repeat %}
        {{ testMacro.test() }}
    {% endif %}

{% endmacro %}