.s-margin-clear{
    margin: 0 !important;
}

.s-padding-clear{
    padding: 0 !important;
}

.s-scroll-wrap{
    overflow: hidden;
    position: relative;
    height: 100%;
}

.s-unselectable{
    //Запрет выделения элементов
    touch-callout: none !important;
    user-drag: none !important;
    tap-hightlight-color: rgba(0, 0, 0, 0) !important;
    user-select: none !important;
}

// Высота 100%
$s-full-height-before-height: 32px;

.s-full-height{
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    &.row{
        > .columns{
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.s-full-height-before{
    height: $s-full-height-before-height;
    position: relative;
    z-index: 2;
    ~ .s-full-height{
        z-index: 1;
        position: relative;
        margin-top: -$s-full-height-before-height;
        padding-top: $s-full-height-before-height;
        &.row.collapse{
            margin-top: -$s-full-height-before-height;
        }
    }
}


.s-blur{
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxkZWZzPg0KICAgICAgICA8ZmlsdGVyIGlkPSJibHVyIj4NCiAgICAgICAgICAgIDxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiLz4NCiAgICAgICAgPC9maWx0ZXI+DQogICAgICAgIDxmaWx0ZXIgaWQ9ImRyb3Atc2hhZG93Ij4NCiAgICAgICAgICAgIDxmZUdhdXNzaWFuQmx1ciBpbj0iU291cmNlQWxwaGEiIHN0ZERldmlhdGlvbj0iMiIvPg0KICAgICAgICAgICAgPGZlT2Zmc2V0IGR4PSI1IiBkeT0iNSIgcmVzdWx0PSJvZmZzZXRibHVyIi8+DQogICAgICAgICAgICA8ZmVGbG9vZCBmbG9vZC1jb2xvcj0iIzAwMDAwMCIvPg0KICAgICAgICAgICAgPGZlQ29tcG9zaXRlIGluMj0ib2Zmc2V0Ymx1ciIgb3BlcmF0b3I9ImluIi8+DQogICAgICAgICAgICA8ZmVNZXJnZT4NCiAgICAgICAgICAgICAgICA8ZmVNZXJnZU5vZGUvPg0KICAgICAgICAgICAgICAgIDxmZU1lcmdlTm9kZSBpbj0iU291cmNlR3JhcGhpYyIvPg0KICAgICAgICAgICAgPC9mZU1lcmdlPg0KICAgICAgICA8L2ZpbHRlcj4NCiAgICA8L2RlZnM+DQo8L3N2Zz4=#blur);
    filter: blur(2px);
}

@mixin s-gradient-grey{
    background: linear-gradient(to bottom, #EEEEEE 0%, #E0E4E7 100%);
    background: linear-gradient(top, #EEEEEE 0%, #E0E4E7 100%); //#d6e0e9
}

.s-gradient-grey{
    @include s-gradient-grey();
}

.s-pointer{
    cursor: pointer;
}