{% if (list.getTotal()) %}
    <ul>
        {% for subject in list %}
            <li>
                {{ widget('news.subject.view', {'subject' : subject, 'template' : 'shortView'}) }}
                {{ widget('news.subject.rssLink', {'subject' : subject, 'template' : 'rssLink'}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}