{{ include('breadcrumbs.twig') }}

<h1>{{ page.displayName }}</h1>

{% if success %}
<div class="alert alert-success">
    <p class="bg-success text-success">{{ translate('Post has been saved.') }}</p>
</div>
{% endif %}

{{ include('form/form.twig', {'form' : form}) }}