<div class="small-10 columns">
    {{view "textElement" object=view.object meta=view.meta}}
</div>

<div class="small-2 columns">
    <span class="postfix">
        <i class="icon icon-delete" {{action "clearValue" target="view"}}></i>
        <i class="icon icon-image" {{action "showPopup" "fileManager" view.object view.meta}}></i>
    </span>
</div>