<div class="umi-search-component">

    <form action="/admin/api/search/action/search" method="get" name="form" onsubmit="return false;">
        <input type="text" name="query" class="umi-search-input" placeholder='Поиск' autocomplete="off" />
        <i class="icon icon-search"></i>
    </form>

    <div class="umi-search-drop-down">
        <div class="umi-search-result-wrapper">
            <ul class="umi-search-result">
                <li class=".umi-search-empty">В запросе должно быть не менее трёх символов</li>
            </ul>
        </div>
    </div>

</div>