{{ include('breadcrumbs.twig') }}

<h1>{{ page.getHeader() }}</h1>
{{ page.contents }}

{{ widget('news.rubric.list', {
    'template' : 'list',
    'limit' : 3,
    'pagination' : {
        'pageParam' : 'p',
        'type' : 'sliding',
        'pagesCount' : 5
    }
}) }}