<div class="s-full-height">
    <div class="off-canvas-wrap s-full-height move-right">
        <div class="inner-wrap s-full-height">
            <aside class="left-off-canvas-menu s-unselectable" style="overflow: hidden;">
                {{view 'treeSimple' collection=model}}
            </aside>
            <div class="umi-divider"></div>

            {{outlet}}
        </div>
    </div>
</div>