<div class="row s-full-height-before s-margin-clear umi-mode s-unselectable">
    <section class="left">
        <a class="left-off-canvas-toggle">
            <span class="icon icon-list"></span>
        </a>
    </section>

    <h5>{{displayName}}</h5>
</div>

<div class="row s-full-height umi-component">
    <div class="columns small-12 s-padding-clear">
        {{render 'formBase' model.form}}
    </div>
</div>