<div class="blog-post">
    <h2 class="blog-post-title">{{ page.getHeader() }} </h2>
    {{ page.contents | raw }}

    {% set errors = errors ?: null %}

    {{ include('form/form.twig', {'form' : form}) }}

    {{ widget('users.profile.password.link', {'template' : 'link'}) }}

</div>