<form action="" class="custom large">
	<p class="text-center">Укажите адрес электронной почты, который вы использовали при регистрации и мы пришлем вам ссылку для востановления пароля.</p>
	<div class="row">
		<div class="large-12 columns">
			<i class="icon mail input-icon"></i>
			{{input type="text"}}
		</div>
	</div>
	<div class="row">
		<div class="large-5 columns">
			<input type="submit"/>
		</div>
	</div>
</form>