<div class="umi-element-left umi-element-left-image">
    <img {{bind-attr src=tumb}} class="umi-element-image-icon" />
    <div class="umi-element-image-preview">
        <img {{bind-attr src=tumb}} />
    </div>
</div>

<div class="umi-element-center umi-element-center-image" {{action "showPopup" "fileManager" view.object this.meta}}>
    {{view view.inputView}}
</div>

<div class="umi-element-right umi-element-right-image">
    <i class="icon icon-delete"></i>
    <i class="icon icon-image"></i>
</div>