{{ include('form/element/input.twig', {'element' : element}) }}

<div class="form-group">
    <label>{{ translate('PasswordConfirmation') }}</label>
    <input class="form-control" {{element.attributes | raw }} />
</div>