{% if breadcrumbs|length > 1 %}
    <ul class="container simple horizontal small">
    {% for crumb in breadcrumbs %}
        {% if (loop.last) %}
            <li><a>{{ crumb.displayName }}</a></li>
        {% else %}
            <li><a href="{{ crumb.url }}">{{ crumb.displayName }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}