<div class="auth-layout">
    <div class="bubbles"></div>
    <div class="bubbles-front"></div>
    <div class="row vertical-center">
        <div class="small-centered columns auth-layout-content">
            <p class="text-center">
                <img src="{{assetsUrl}}images/svg/elements/auth-logo.svg" class="auth-layout-logo"/>
            </p>

            <div>
                {{{outlet}}}
            </div>
        </div>
    </div>
</div>
<div class="auth-mask"></div>