<div class="panel pretty radius">
    <p class="text-center">Ваш браузер устарел и не поддерживается. Пожалуйста, установите <a target="_blank" href="http://browsehappy.com/">современную версию</a>.</p>
</div>