<div class="auth-layout badBrowser">
    <div class="row vertical-center">
        <div class="small-centered columns auth-layout-content">
            <p class="text-center">
                <img src="{{assetsUrl}}images/svg/elements/auth-logo.svg" class="auth-layout-logo"/>
            </p>

            <div>
                <div class="panel pretty radius">
                    <p class="text-center">Ваш браузер устарел и не поддерживается. Пожалуйста, установите <a target="_blank" href="http://browsehappy.com/">современную версию</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
