Начальная дата: <div class="umi-input-wrapper-date"><input type="text" class="umi-date" /></div>
Конечная дата: <div class="umi-input-wrapper-date"><input type="text" class="umi-date" /></div>
<div class="umi-canvas-wrapper" style="padding: 30px 0;">
    <canvas id="umi-metrika-canvas"></canvas>
</div>

<!--<div class="umi-table-ajax-control-content-counter">-->
    <!--<div class="umi-table-ajax-control-content-center">-->
        <!--<table cellpadding="0" class="umi-table-ajax-content">-->
            <!--<thead>-->

            <!--<tr class="umi-table-ajax-titles">-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->

                <!--<td class="umi-table-ajax-empty-header-column"></td>-->
            <!--</tr>-->

            <!--</thead>-->
            <!--<tbody>-->

            <!--<tr class="umi-metrika-empty-row" style="display: none;">-->
                <!--<td class="umi-table-ajax-empty-result">-->
                    <!--Нет записей-->
                <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->