<div style="float: left; padding: 30px;">
    <canvas id="canvas" height="450" width="1000"></canvas>
</div>

<!--<div class="umi-table-ajax-control-content-counter">-->
    <!--<div class="umi-table-ajax-control-content-center">-->
        <!--<table cellpadding="0" class="umi-table-ajax-content">-->
            <!--<thead>-->

            <!--<tr class="umi-table-ajax-titles">-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->
                <!--<td class="umi-table-ajax-header-column">-->
                    <!--<div class="umi-table-ajax-title-div">Заголовок</div>-->
                <!--</td>-->

                <!--<td class="umi-table-ajax-empty-header-column"></td>-->
            <!--</tr>-->

            <!--</thead>-->
            <!--<tbody>-->

            <!--<tr class="umi-metrika-empty-row" style="display: none;">-->
                <!--<td class="umi-table-ajax-empty-result">-->
                    <!--Нет записей-->
                <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->