.umi-store-red {
    @include panel(// Sets the panel background color. Default: $panel-pg $bg: #ffccce, // Sets the panel padding amount. Default: $panel-padding $padding: 20px, // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust $adjust: true); } . umi-store-green { @include panel(// Sets the panel background color. Default: $panel-pg $bg: #a8ebb7, // Sets the panel padding amount. Default: $panel-padding $padding: 20px, // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust $adjust: true); } . umi-store-blue { @include panel(// Sets the panel background color. Default: $panel-pg $bg: #b6f1ff, // Sets the panel padding amount. Default: $panel-padding $padding: 20px, // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust $adjust: true); } . umi-store-yellow { @include panel(// Sets the panel background color. Default: $panel-pg $bg: #fffaad, // Sets the panel padding amount. Default: $panel-padding $padding: 20px, // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust $adjust: true); } . umi-store-image { width: rem-calc(100);
    margin-right: rem-calc(12);
}

.umi-store-icon {
    padding: rem-calc(0 10)
}

.panel {
    background: #FFFFFF;
}

.umi-store-orbit {
    height: rem-calc(300);
    background: #2ba6cb;
    li {
        padding: 20px;
        h2, h3 {
            color: #FFFFFF !important;
        }
    }
}

.umi-store-functional {
    border-bottom: 1px solid #000000;
    dd {
        &.active {
            border: 1px solid #000000;
            border-bottom-color: #FFFFFF;
        }
    }
}

.umi-store-module-extension {
    dd {
        &.active {
            a {
                background: #2ba6cb !important;
                color: #FFFFFF !important;
            }
        }
    }
}