.side-nav{
    background: $secondary-color;
    overflow: hidden;
    li{
        height: 33px;
        line-height: 34px;
        margin: 0;
        background: linear-gradient(to bottom, #EEEEEE 0%, #E0E4E7 100%);
        background: linear-gradient(top, #EEEEEE 0%, #E0E4E7 100%);
        border-bottom: 1px solid #98A2AB;
        &:hover{
            background: #EEEEEE;
            color: #000000;
        }
        &.active{
            background: #259cec;
        }
    }
}