{% if (success) %}
<div class="alert alert-success">
    <p class="bg-success text-success">{{ translate('Profile has been saved.') }}</p>
</div>
{% endif %}

{{ include('form/form.twig', {'form' : form}) }}