{% if (authors.getTotal()) %}
    <ul>
        {% for blogAuthor in authors %}
            <li>
                {{ widget('blog.author.view', {'blogAuthor' : blogAuthor, 'template' : 'shortView'}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}