{{#view 'divider'}}
    {{#if sideBarControl}}
        <div class="umi-divider-left">
            <div class="umi-divider-left-content">
                <ul class="side-nav">
                    {{#each object in objects}}
                        <li><a href="javascript:void(0)">{{object.displayName}}</a></li>
                    {{/each}}
                </ul>
            </div>

            <div class="umi-divider"></div>
        </div>

        <div class="umi-left-bottom-panel s-unselectable">
            <a href="javascript:void(0)" class="button white square umi-divider-left-toggle">
                <i class="icon icon-left"></i>
            </a>
        </div>
    {{/if}}

    <div {{bind-attr class=":umi-divider-right sideBarControl::wide"}}>
        <div class="columns small-12 s-padding-clear s-full-height">
            {{render "tableControlShared" tableControlSettings}}
        </div>
    </div>
{{/view}}