<div class="dock-wrapper">
    <div class="dock-wrapper-bg">
        <ul class="dock navigation">
            {{#each module in controller}}
                {{#view 'dockModuleButton' modelBinding="module"}}
                    <span class="dock-module">
                        <img {{bind-attr src=view.icon}} />
                        <span>{{module.name}}</span>
                    </span>
                    <ul class="f-dropdown dark center">
                        {{#each component in module.components}}
                            <li>
                                {{#link-to 'component' module.name component.name}}
                                    {{component.name}}
                                {{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                {{/view}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="dock-components">
    <nav class="components-nav">
        {{#if controller.activeModule}}
            {{#with controller.activeModule as module}}
                {{#each component in module.components}}
                    {{#link-to 'component' module.name component.name}}
                        {{component.name}}
                    {{/link-to}}
                {{/each}}
            {{/with}}
        {{/if}}
    </nav>
</div>