<dl class="tabs">
    {{#each module in controller}}
        {{#view 'dockModuleButton' contentBinding="module"}}
                <span class="button large s-margin-clear">
                    <img {{bind-attr src=module.img}} />
                    <span>{{module.name}}</span>
                </span>
        {{/view}}
    {{/each}}
</dl>
<div class="tabs-content">
    {{#each module in controller}}
        {{#view 'dockComponentsGroup' contentBinding="module"}}
            <ul class="button-group">
                {{#each component in module.components}}
                <li>
                    {{#link-to 'component' module.name component.name classNames="button large s-margin-clear"}}
                        {{component.name}}
                    {{/link-to}}
                </li>
                {{/each}}
            </ul>
        {{/view}}
    {{/each}}
</div>