<li class="has-dropdown">
    <a href="#">Выбор сайта</a>
    <ul class="dropdown">
        {{#each item in controller}}
        <li>
            {{#link-to 'site' item}}
            {{item.title}}
            <small>{{item.url}}</small>
            {{/link-to}}
        </li>
        {{/each}}
    </ul>
</li>