<nav class="top-bar umi-top-bar" data-topbar data-options="is_hover: false">
    <section class="top-bar-section">

        <ul class="left">
            <li>
                {{render "search"}}
            </li>
        </ul>

        <ul class="right">
            <li>
                {{#link-to 'site' 'external' class="left-off-canvas-toggle"}}
                    Открыть сайт в новом окне
                {{/link-to}}
            </li>

            <!--<li>-->
                <!--{{!view "notification"}}-->
            <!--</li>-->

            <li>
                <a href="#">mail@yandex.ru</a>
            </li>

            <li class="has-form">
                {{#link-to 'logout' class="left-off-canvas-toggle"}}
                    <i class="icon white icon-exit" style="margin-top: 2px;"></i>
                {{/link-to}}
            </li>
        </ul>

    </section>
</nav>