<nav class="top-bar umi-top-bar" data-topbar data-options="is_hover: false">
    <section class="top-bar-section">

        <ul class="left">
            <li style="background: none; background: linear-gradient(to bottom, #3E4756 0%, #1C1F26 100%); background: linear-gradient(top, #3E4756 0%, #1C1F26 100%); border-bottom: 1px solid #000000; margin: 0; height: 24px;">
                <div class="umi-search-component" style="position:relative; padding: 0 20px;">
                    <form  action="/admin/api/search/action/search" method="get" name="form" onsubmit="return false;" style="position:relative; z-index:21; float:left; width: calc(100% - 40px);">
                        <input type="text" name="query" class="umi-search-input" placeholder='Поиск' autocomplete="off" />
                        <i class="icon icon-search" style="float: right; top: -19px; right: -30px;"></i>
                    </form>
                    <div class="umi-search-drop-down">
                        <div class="umi-search-result-wrapper" style="overflow: hidden;">
                            <ul class="umi-search-result">
                                <li data-object-id="1">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="2">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="3">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="4">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="5">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="6">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="7">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="8">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="9">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="10">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="1">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="2">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="3">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="4">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="5">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="6">В запросе должно быть не менее трёх символов</li>
                                <li data-object-id="7">В запросе должно быть не менее трёх символов</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="right">
            <li>
                {{#link-to 'site' '../' class="left-off-canvas-toggle"}}
                    Открыть сайт в новом окне
                {{/link-to}}
            </li>

            <li>
                {{view "notification"}}
            </li>

            <li>
                <a href="#">mail@yandex.ru</a>
            </li>

            <li class="has-form">
                {{#link-to 'logout' class="left-off-canvas-toggle"}}
                    <i class="icon white icon-exit"></i>
                {{/link-to}}
            </li>
        </ul>

    </section>
</nav>


<style>
    input[type="text"].umi-search-input{
        background: #4E5461;
        border: none;
        box-shadow: none;
        width: 200px;
        border-radius: 10px;
        padding: 0 10px;
        margin: 0;
        height: 19px;
        line-height: 15px;
        top: 3px;
        animation: none;
        transition: none;
    }
    input[type="text"].umi-search-input.active{
        background: #FFFFFF;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid #d3d7da;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #9BA7B3;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #9BA7B3;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #9BA7B3;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #9BA7B3;
    }

    .umi-search-drop-down{
        display: none;
        position: absolute;
        z-index: 20;
        padding: 30px 0 10px;
        margin-left: -10px;
        width: 220px;
        background: #ffffff;
        box-shadow: 0 0 3px 0 #000000;
    }

    .umi-search-result li{
        padding: 5px 10px;
        font-size: 11px;
    }
    .umi-search-result li:hover{
        background: #F5F6F7;
        cursor: pointer;
    }
</style>