<nav class="top-bar umi-top-bar" data-topbar data-options="is_hover: false">
    <section class="top-bar-section">

        <ul class="left">
            <li>
                {{render "search"}}
            </li>
        </ul>

        <ul class="right">
            <li>
                <a {{action 'targetBlank' '/'}} class="left-off-canvas-toggle">
                    Открыть сайт в новом окне
                </a>
            </li>

            <!--<li>-->
                <!--{{!view "notification"}}-->
            <!--</li>-->

            <li>
                <a href="#">mail@yandex.ru</a>
            </li>

            <li class="has-form">
                <span class="left-off-canvas-toggle" {{action 'logout'}}>
                    <i class="icon white icon-exit" style="margin-top: 2px;"></i>
                </span>
            </li>
        </ul>

    </section>
</nav>