input::-ms-clear { //Убираем крестик браузера из поля
    display: none;
}

//Хак для Firefox input file на один пискел выше
@-moz-document url-prefix() {
    .umi-input-wrapper-file input{
        position: relative;
        top: -1px;
    }
}

input[type="color"]{
    -webkit-appearance: none;
    -webkit-border-radius: $input-border-radius;
    border-radius: $input-border-radius;
    @include form-element;
    @if not $input-include-glowing-effect {
        @include single-transition(all, 0.15s, linear);
    }
}