<div class="umi-component s-full-height">
    <div class="row">
        <div class="small-12 columns text-center">
            <p></p>
            <div>
                <h2>
                    {{#if status}}
                        {{status}}.
                    {{/if}}
                    {{statusText}}
                </h2>

                {{#if message}}
                    <p>{{message}}</p>
                {{/if}}

                {{#if lists}}
                    <div class="alert-box error">
                        <ul>
                            {{#each lists}}
                                <li>{{error}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>