<div class="umi-component s-full-height">
    <div class="row">
        <div class="small-10 columns small-centered text-center">
            <p></p>
            <div>
                <h2>
                    {{!#if status}}
                        {{!status}}<!--.-->
                    {{!/if}}
                    {{title}}
                </h2>

                {{#if model.content}}
                    <p>{{model.content}}</p>
                {{/if}}

                {{#if stack}}
                    <div class="text-left">
                        <code>{{stack}}</code>
                    </div>
                {{/if}}

                {{#if lists}}
                    <div class="alert-box error">
                        <ul>
                            {{#each lists}}
                                <li>{{error}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>