// We use these to set the color of the pip in dropdown buttons
$dropdown-button-pip-color: #fff;
$dropdown-button-pip-color-alt: #333;

$button-pip-tny: rem-calc(5);
$button-pip-sml: rem-calc(5);
$button-pip-med: rem-calc(6);
$button-pip-lrg: rem-calc(8);

// We use these to style tiny dropdown buttons
$dropdown-button-padding-tny: $button-pip-tny * 6;
$dropdown-button-pip-opposite-tny: $button-pip-tny * 2.3;
$dropdown-button-pip-top-tny: -$button-pip-tny / 2;

// We use these to style medium dropdown buttons
$dropdown-button-padding-med: $button-pip-med * 6 + rem-calc(1);
$dropdown-button-pip-size-med: $button-pip-med - rem-calc(1);
$dropdown-button-pip-opposite-med: $button-pip-med * 2.5;
$dropdown-button-pip-top-med: -$button-pip-med / 2 + rem-calc(1);

// We use these to style large dropdown buttons
$dropdown-button-pip-size-lrg: $button-pip-lrg - rem-calc(3);