<div class="sidebar-module sidebar-module-inset authorization">
    {{ widget('users.profile.view', {'template' : 'view', 'forbiddenTemplate' : 'login'}) }}
    {{ widget('blog.author.profile.editLink') }}
</div>