@import "../../scss/settings";

$umi-bg-darken-set: #404959, #181B21;

body{
    margin-top: 20px !important;
}

.#{$app_prefix}-topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(nth($umi-bg-darken-set, 1) 0%, nth($umi-bg-darken-set, 2) 100%);
    z-index: $base_z_index;
}