<div class="umi-element-left umi-element-left-password">

</div>

<div class="umi-element-center umi-element-center-password">
    {{view view.inputView}}
</div>

<div class="umi-element-right umi-element-right-password">
    <i class="icon icon-eye"></i>
</div>