{% if (list.getTotal()) %}
    <ol class="list-unstyled">
        {% for blogAuthor in list %}
            <li>
                {{ widget('blog.author.view.author', {'blogAuthor' : blogAuthor, 'template' : 'listShortView'}) }}
                {{ widget('blog.author.rssLink', {'blogAuthor' : blogAuthor, 'template' : 'rssLink'}) }}
            </li>
        {% endfor %}
    </ol>
{% endif %}