<div class="umi-element-left umi-element-left-email">

</div>

<div class="umi-element-center umi-element-center-email">
    {{view view.inputView}}
</div>

<div class="umi-element-right umi-element-right-email">

</div>