//
// Authorization
//
@import "../../settings";
$umi-auth-bubbles-front-img: $images-path + 'auth-bubbles-front.png' + $images-version !default;
$umi-auth-bubbles-back-img: $images-path + 'auth-bubbles-back.png' + $images-version !default;

.auth-mask{
    transition: opacity 0.3s linear 0.4s;
    opacity: 1;
    background: linear-gradient(#1B243F 0%, #0F1422 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99998;
    top: 0;
    left: 0;
    visibility: hidden;
}

.auth-layout, .umi-main-view{
    &.off{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        transition: opacity 0.4s linear;
        &.is-transition{
            z-index: 99999;
            ~ .auth-mask{
                visibility: visible;
            }
        }
    }
    &.fade-out{
        opacity: 0;
        ~ .auth-mask{
            opacity: 0;
        }
    }
}

.auth-layout{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #045684;
    // Почему-то не компилится adjust_hue
    //background-image: radial-gradient(circle farthest-side, adjust_hue(lighten($primary-color, 7), 354) 0, adjust_hue(darken($primary-color, 7), 359) 30%, adjust_hue(darken($primary-color, 7), 13) 55%, adjust_hue(darken($primary-color, 21), 13) 90%);
    background-image: linear-gradient(transparent 70%, #082D42 100%), radial-gradient(circle farthest-side, #0077c5 0, #045684 70%, #082D42 100%);

    .bubbles-front{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url($umi-auth-bubbles-front-img) no-repeat center center;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        transition: opacity 0.2s linear;
        &.visible{
            opacity: 1;
        }
    }

    .bubbles{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: url($umi-auth-bubbles-back-img) no-repeat center center;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        transition: opacity 0.2s linear;
        &.visible{
            opacity: 1;
        }
    }

    .vertical-center{
        position: relative;
        top: 50%;
        margin-top: -180px;
    }

    .auth-layout-content{
        width: 460px;
    }

    .panel{
        margin-left: rem-calc(40px);
        margin-right: rem-calc(40px);
        background: linear-gradient(top, #fff 0%, #bccdda 100%);
        border: 1px solid #d0dce6;
        box-shadow: 0 0 10px 1px #097AAA;
    }

    label{
        color: #6f7582;
        margin-top: rem-calc(10);
        margin-left: rem-calc(10);
    }

    input[type="checkbox"]{
        vertical-align: top;
        margin-bottom: 0;
    }

    .input-icon{
        top: rem-calc(18);
        margin-left: rem-calc(10);
    }

    input[type="text"], input[type="password"]{
        height: rem-calc(46);
        font-size: rem-calc(18);
    }

    .umi-validator span.error{
        background: #fff;
        background-image: url($image-close-blue);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 5px center;
        top: 0;
        right: 0;
        width: 160px;
        border-color: #E7E6E6;
        margin-top: 5px;
        min-height: rem-calc(46);
        box-sizing: border-box;
        color: #585151;
        padding-left: 40px;
        font-size: rem-calc(15);
        opacity: 0;
        margin-right: -176px;

        &:before{
            left: 0;
            border-bottom-color: transparent;
            border-right-color: #E7E6E6;
            border-width: 10px;
            margin-left: -20px;
            top: 14px;
        }

        &:after{
            left: 0;
            border-bottom-color: transparent;
            border-width: 8px;
            border-right-color: #fff;
            margin-left: -16px;
            top: 16px;
        }
    }

    .error{
        span.error{
            margin-right: -156px;
            opacity: 1;
        }
    }

    .alert-box{
        height: 0;
        transition: all 0.3s linear;
        padding: 0;
        overflow: hidden;

        &.alert{
            background-color: rgba(240, 179, 179, 1);
            border-color: rgb(211, 69, 69);
            border-radius: 2px;
            color: #832E2E;
        }

        &.visible{
            padding: 10px;
            height: auto;
        }
    }

    &-lang{
        position: fixed;
        right: 10px;
        top: 10px;

        .f-dropdown{
            box-shadow: 0 1px 1px 1px #000;
        }
    }

    &-logo{
        opacity: 0.8;
    }
}

@media #{$medium-only}{
    .auth-layout{
        .bubbles-front, .bubbles{
            background-size: 100%;
        }
    }
}