<ol class="breadcrumb">
{% for crumb in breadcrumbs %}
    {% if (loop.last) %}
        <li class="active">{{ crumb.displayName }}</li>
    {% else %}
        <li><a href="{{ crumb.url }}">{{ crumb.displayName }}</a></li>
    {% endif %}
{% endfor %}
</ol>