{% for choice in element.choices %}
    {% if (not element.valid) %}
        <div class="alert alert-danger">
            <ul>
                {% for message in element.errors %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <label>
        <input {{ choice.attributes |raw }}/>
        {{ choice.label }}
    </label>
{% endfor %}
