<div class="columns small-12" style="overflow: hidden;">
    <div class="row s-full-height umi-tree-wrapper">
        <ul class="umi-tree-list umi-tree">
            {{#each root itemController="treeItem"}}
                {{view "treeItem" treeControlView=view}}
            {{/each}}
        </ul>
    </div>
</div>