{% if added %}
<div class="alert alert-success">
    <p class="bg-success text-success">{% translate('Post has been added.') %}</p>
    <p class="bg-success text-success"><a href="{{ blogPost.getPageUrl() }}" class="alert-link">{{ translate('Read more') }}</a></p>
</div>
{% else %}
{{ include('form/form.twig', {'form' : form}) }}
{% endif %}